//=========================================================
//  Scroll to Top
//=========================================================
//Colors
$scrollBackgroundColor: #20274A;
$scrollArrowColor: #80C24A;
$scrollArrowShadowColor:#000000;
$scrollBorderColor: #80C24A;

@mixin scroll-to-top_Transition{
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.scroll-to-top {
    bottom: 12dvh;
    position: fixed;
    right: 2%;
    z-index: 110;

    button {
        @include scroll-to-top_Transition;
        background-color: $scrollBackgroundColor;
        border: 0;
        border-color: $scrollBorderColor;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-style: solid;
        border-width: min(1em, 0.5dvh);
        color: $scrollArrowColor;
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;

        &:hover {
            @include scroll-to-top_Transition;
            cursor: pointer;
            scale: 1.2;
            transition-property: scale;

            span {
                @include scroll-to-top_Transition;
                transition-property: translate;
                translate: 0 -0.2em;
            }
        }
    }

    span {
        @include scroll-to-top_Transition;
        display: block;
        font-size: 2em;
        text-shadow: $scrollArrowShadowColor 0 0.1em;
        transition-property: text-shadow, translate;
    }
}

@media (min-width: 900px) {
    .scroll-to-top {
        right: 4%;
    
        button {
            border-radius: 20dvh;
            padding: 1.5dvh;
        }
    
        span {
            font-size: min(5dvh, 15em);
        }
    }
}

//-------------------------
//  Scroll Events          |
//-------------------------
@mixin scroll-to-top_Animation{
    animation-fill-mode: forwards;
    animation-duration: 0ms;
    animation-timing-function: linear;
}

.scroll-to-top--hidden {
    @include scroll-to-top_Transition;
    @include scroll-to-top_Animation;
    animation-delay: 200ms;
    animation-name: scroll-to-top--hidden__animation;
    opacity: 0;
    transition-property: opacity;

    @keyframes scroll-to-top--hidden__animation {
        from{
            visibility: visible;
        }
        to{
            visibility: hidden;
        }
    }
}

.scroll-to-top--visible {
    @include scroll-to-top_Transition;
    @include scroll-to-top_Animation;
    animation-name: scroll-to-top--visible__animation;
    opacity: 1;
    transition-property: opacity;

    @keyframes scroll-to-top--visible__animation {
        from{
            visibility: hidden;
        }
        to{
            visibility: visible;
        }
    }
}
