//=========================================================
//  Scroll to Top
//=========================================================
@mixin scroll-to-top_Transition{
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.scroll-to-top {
    bottom: 12dvh;
    position: fixed;
    right: 4%;
    z-index: 110;

    button {
        @include scroll-to-top_Transition;
        background-color: $scrollBtnBGColor;
        border: 0;
        border-color: $scrollBtnFontColor;
        border-radius: 20dvh;
        border-style: solid;
        border-width: min(1em, 0.5dvh);
        color: $scrollBtnFontColor;
        padding: 1.5dvh;


        &:hover {
            @include scroll-to-top_Transition;
            cursor: pointer;
            scale: 1.2;
            transition-property: scale;

            span {
                @include scroll-to-top_Transition;
                transition-property: translate;
                translate: 0 -0.2em;
            }
        }
    }

    span {
        @include scroll-to-top_Transition;
        display: block;
        font-size: min(5dvh, 15em);
        text-shadow: #000000 0 0.1em;
        transition-property: text-shadow, translate;
    }
}

//-------------------------
//  Scroll Events          |
//-------------------------
.scroll-to-top--hidden {
    @include scroll-to-top_Transition;
    opacity: 0;
    transition-property: opacity;
    visibility: hidden;

}

.scroll-to-top--visible {
    @include scroll-to-top_Transition;
    opacity: 1;
    transition-property: opacity;
    visibility: visible;
}
