<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Will add later">
    <link rel="stylesheet" href="../scroll-to-top/_scroll-to-top_style.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
    <script src="../scroll-to-top/scroll-to-top.ts" defer></script>
</head>

<body>
    <!--Display a scroll to top button once scrolled a certain amount down the page-->
    <div class="scroll-to-top scroll-to-top--hidden">
        <button class="scroll-to-top__btn">
            <span class="material-symbols-rounded">arrow_upward</span>
        </button>
    </div>
</body>

</html>
