.section-1__project-pane {
  background-color: #0c1020;
  border-radius: clamp(1dvw, 1em, 2dvw);
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
}

.section-1__project-pane__title {
  grid-column: 1 / 4;
  margin-inline: auto;
  font-size: clamp(2.5dvh, 1dvh + 1rem, 3.5dvh);
}

.section-1__project-pane__side {
  margin: max(40px, 4dvh);
  background-color: #2b3463;
  border-radius: clamp(1dvw, 1em, 2dvw);
  margin-top: 0;
  padding: max(25px, 2.5dvh);
  font-size: clamp(1.75dvh, 1dvh + .4rem, 2.75dvh);
}

.section-1__project-pane__side__card {
  -webkit-user-select: none;
  user-select: none;
  background-color: #20274a;
  border: max(5px, .5dvh) solid #0c1020;
  border-radius: clamp(1dvw, 1em, 2dvw);
  margin-top: max(20px, 2dvh);
  padding: max(25px, 2.5dvh);
  transition-property: transform, box-shadow;
  transition-duration: .2s;
  transform: translateY(0);
  box-shadow: 0 0 #000;
}

.section-1__project-pane__side__card h3 {
  text-align: center;
}

.section-1__project-pane__side__card:hover {
  cursor: pointer;
  background-color: #2f4f4f;
  transition-property: transform;
  transition-duration: .2s;
  transform: translateY(-10px);
  box-shadow: 0 max(5px, .5dvh) max(20px, 2dvh) #000;
}

.section-1__project-pane__frame {
  background-color: #20274a;
  border-radius: clamp(1dvw, 1em, 2dvw);
  margin: 0 max(40px, 4dvh) max(40px, 4dvh) 0;
  padding: max(25px, 2.5dvh);
  font-size: clamp(1.75dvh, 1dvh + .4rem, 2.75dvh);
  display: block;
}

.section-1__project-pane__frame li {
  padding: .5em;
}

.section-1__project-pane__frame__default {
  background-color: #20274a;
  border-radius: clamp(1dvw, 1em, 2dvw);
  width: -moz-fit-content;
  width: fit-content;
  padding: max(25px, 2.5dvh);
  display: block;
}

.section-1__project-pane__frame__default span {
  font-size: clamp(2dvh, 1dvh + .8rem, 2dvh);
  animation-name: section-1__project-pane__frame__default__Animation;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: .5s;
}

@keyframes section-1__project-pane__frame__default__Animation {
  from {
    translate: 0;
  }

  to {
    translate: -10px;
  }
}

.section-1__project-pane__frame__content__link {
  border: max(5px, .5dvh) solid #0c1020;
  border-radius: clamp(1dvw, 1em, 2dvw);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: max(10px, 1dvh);
  font-size: clamp(1.75dvh, 1dvh + .4rem, 2.75dvh);
  display: block;
}

.section-1__project-pane__frame__content__link > span {
  color: #80c24a;
  font-size: clamp(1.75dvh, 1dvh + .4rem, 2dvh);
  animation-name: link__spin__Animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes link__spin__Animation {
  from {
    rotate: none;
  }

  to {
    rotate: 360deg;
  }
}

.section-1__project-pane__frame__content__link a span {
  rotate: 0;
  font-size: clamp(1.75dvh, 1dvh + .4rem, 2dvh);
  transition-property: rotate;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
}

.section-1__project-pane__frame__content__link a:hover span {
  transition-property: rotate;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  rotate: 360deg;
}

.content-hide {
  visibility: collapse;
  height: 0;
  position: absolute;
}

.content-show {
  visibility: visible;
}

.section-2 {
  background-color: #20274a;
  border: max(40px, 4dvh) solid #0c1020;
  border-radius: clamp(1dvw, 1em, 2dvw);
  margin-top: max(50px, 5dvh);
  padding: max(20px, 2dvh);
}

.page-nav {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 614.999px) {
  .section-1__project-pane__side {
    margin: 0 max(20px, 2dvh) max(20px, 2dvh);
    padding: max(10px, 1dvh);
    font-size: clamp(1dvh, 1dvh + .1rem, 2dvh);
  }

  .section-1__project-pane__side__card {
    padding: max(10px, 1dvh);
  }

  .section-1__project-pane__frame {
    min-width: 200px;
    height: 50dvh;
    min-height: 500px;
    margin-bottom: max(20px, 2dvh);
    margin-right: max(20px, 2dvh);
    overflow-y: scroll;
  }
}

/*# sourceMappingURL=projects-main.2f687419.css.map */
