section {
  overflow-x: hidden;
}

.section-1__project-pane {
  background-color: #0c1020;
  border-radius: clamp(1dvw, 1em, 2dvw);
}

.section-1__project-pane__title {
  text-align: center;
  visibility: collapse;
  grid-column: 1 / 4;
  margin-inline: auto;
  font-size: 1.2em;
}

@media (width >= 900px) {
  .section-1__project-pane {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    width: fit-content;
    display: grid;
  }

  .section-1__project-pane__title {
    visibility: visible;
    grid-column: 1 / 4;
    font-size: clamp(2.5dvh, 1dvh + 1rem, 3.5dvh);
  }
}

.section-1__project-pane__side {
  margin: 5px;
  background-color: #2b3463;
  border-radius: clamp(1dvw, 1em, 2dvw);
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  margin-top: -40px;
  padding: 10px;
  font-size: .7em;
  display: grid;
}

@media (width >= 900px) {
  .section-1__project-pane__side {
    margin: 0 max(40px, 4dvh) max(40px, 4dvh);
    padding: max(25px, 2.5dvh);
    font-size: clamp(1.75dvh, 1dvh + .4rem, 2.75dvh);
    display: block;
  }
}

.section-1__project-pane__side__card {
  -webkit-user-select: none;
  user-select: none;
  background-color: #20274a;
  border: 5px solid #0c1020;
  border-radius: clamp(1dvw, 1em, 2dvw);
  margin-top: 0;
  padding: 5px;
  transition-property: transform, box-shadow;
  transition-duration: .2s;
  overflow-x: visible;
  transform: translateY(0);
  box-shadow: 0 0 #000;
}

.section-1__project-pane__side__card h3 {
  text-align: center;
}

.section-1__project-pane__side__card:hover {
  cursor: pointer;
  background-color: #2f4f4f;
  transition-property: transform;
  transition-duration: .2s;
  transform: translateY(-10px);
  box-shadow: 0 max(5px, .5dvh) max(20px, 2dvh) #000;
}

@media (width >= 900px) {
  .section-1__project-pane__side__card {
    border-width: max(5px, .5dvh);
    margin-top: max(20px, 2dvh);
    padding: max(25px, 2.5dvh);
  }
}

.section-1__project-pane__frame {
  background-color: #20274a;
  border-radius: clamp(1dvw, 1em, 2dvw);
  margin: 5px;
  padding: 10px;
  font-size: 1em;
  line-height: 30px;
  display: block;
}

.section-1__project-pane__frame li {
  padding: .5em;
}

@media (width >= 900px) {
  .section-1__project-pane__frame {
    margin: 0 max(40px, 4dvh) max(40px, 4dvh) 0;
    padding: max(25px, 2.5dvh);
    font-size: clamp(1.75dvh, 1dvh + .4rem, 2.75dvh);
    line-height: normal;
  }

  .section-1__project-pane__frame li {
    padding: .5em;
  }
}

.section-1__project-pane__frame__default {
  background-color: #20274a;
  border-radius: clamp(1dvw, 1em, 2dvw);
  width: max-content;
  margin-inline: auto;
  padding: 25px;
  display: block;
}

.section-1__project-pane__frame__default span {
  visibility: hidden;
  font-size: .9em;
  animation-name: section-1__project-pane__frame__default__Animation;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: .5s;
}

@keyframes section-1__project-pane__frame__default__Animation {
  from {
    translate: 0;
  }

  to {
    translate: -10px;
  }
}

@media (width >= 900px) {
  .section-1__project-pane__frame__default {
    width: fit-content;
    padding: max(25px, 2.5dvh);
  }

  .section-1__project-pane__frame__default span {
    visibility: visible;
    font-size: clamp(2dvh, 1dvh + .8rem, 2dvh);
  }
}

.section-1__project-pane__frame__content__link {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid #0c1020;
  border-radius: clamp(1dvw, 1em, 2dvw);
  width: fit-content;
  margin-inline: auto;
  padding: 10px;
  font-size: .9em;
  display: block;
}

.section-1__project-pane__frame__content__link > span {
  color: #80c24a;
  font-size: .9em;
  animation-name: link__spin__Animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes link__spin__Animation {
  from {
    rotate: none;
  }

  to {
    rotate: 360deg;
  }
}

.section-1__project-pane__frame__content__link a span {
  rotate: 0;
  font-size: clamp(1.75dvh, 1dvh + .4rem, 2dvh);
  transition-property: rotate;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
}

.section-1__project-pane__frame__content__link a:hover span {
  transition-property: rotate;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  rotate: 360deg;
}

@media (width >= 900px) {
  .section-1__project-pane__frame__content__link {
    border-width: max(5px, .5dvh);
    margin-inline: 0;
    padding: max(10px, 1dvh);
    font-size: clamp(1.75dvh, 1dvh + .4rem, 2.75dvh);
  }

  .section-1__project-pane__frame__content__link > span, .section-1__project-pane__frame__content__link a span {
    font-size: clamp(1.75dvh, 1dvh + .4rem, 2dvh);
  }
}

.content-hide {
  visibility: collapse;
  height: 0;
  position: absolute;
}

.content-show {
  visibility: visible;
}

.section-2 {
  background-color: #20274a;
  border: 5px solid #0c1020;
  border-radius: clamp(1dvw, 1em, 2dvw);
  margin-top: 30px;
  padding: 20px 50px;
}

.page-nav {
  margin-top: 0;
  margin-bottom: 0;
}

@media (width >= 900px) {
  .section-2 {
    border-width: max(40px, 4dvh);
    margin-top: max(50px, 5dvh);
    padding: max(20px, 2dvh);
  }
}
/*# sourceMappingURL=projects-main.846df85a.css.map */
