<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="../no-script/no-script_style.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
</head>

<body class="--scroll">

    <noscript>
        <link rel="stylesheet" href="../src/styles/noscript.scss">
        <div class="noscript">
            <div>
                <h1>ERROR!</h1>
                <h1>No Javascript Detected!</h1>
                <p>Either javascript is disabled or the browser <br> being used does not have javascript.</p>
                <p>Please enable javascript to use the site. :) &#10084</p>
            </div>
        </div>
    </noscript>

</body>

</html>
