<!DOCTYPE html>
<html lang="en" , dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>Collin Geersen- Template</title>
        <!--Description cannot be more than 150 characters-->
        <meta name="description" content="Will add later">
        <link rel="stylesheet" href="../src/styles/main.scss">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
        <script src="../src/scripts/index.ts" defer></script>
    </head>
    <body>
        <nav>

        </nav>
        <main>

        </main>
    </body>
    <foot>
        
    </foot>
</html>
