//=========================================================
//  Variables
//=========================================================
$backgroundColor: #2b3463;
$borderRadius: clamp(1dvw, 1em, 2dvw);
$borderColor: #0c1020;
$boxBackgroundColor: #20274A;
$headingColor: #80C24A;
$borderWidth: max(5px, 0.5dvh);

//=========================================================
//  Top Level Selectors
//=========================================================
* {
    scroll-behavior: smooth;
}

main {
    background-color: $borderColor;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;

}

article {
    background-color: $backgroundColor;

}

section {
    padding: 15px;
}

h1,
h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

footer {

    &::before {
        content: '';
        background-color: #181D1F;
        width: 12%;
        height: max(240px, 24dvh);
        display: block;
        position: absolute;
    }
}

@media (min-width: 900px) {
    section {
        padding: 2dvh;
    }

    h1,
    h2 {
        font-size: clamp(2.8dvh, 1dvh + 1em, 2.9dvh + 1em);
    }
    
    h3 {
        font-size: clamp(2.2dvh, 1dvh + 0.6em, 2.6dvh + 1em);
    }
}

//=========================================================
//  Table of Contents
//=========================================================
.toc {
    border-bottom-right-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    display: block;
    margin-left: 0%;
    bottom: 0;
    padding: 10px;
    padding-left: 0;
    position: fixed;
    z-index: 90;
    user-select: none;
    min-height: 300px;

    //Used to create a masking layer to hide the toc when moved off main
    &::before {
        background-color: #181D1F;
        border-color: #0c1020;
        border-style: solid;
        border-width: 0;
        border-right-width: 2vmax;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        right: 100%;
        width: 100%;
        z-index: 100;
    }
}

.toc__content {
    background-color: $backgroundColor;
    border-bottom-right-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    font-size: 0.9em;
    padding: 2em;
    padding-left: 4em;
    width: fit-content;
    font-weight: 400;
    min-height: 300px;

    ol {
        line-height: 3em;
        list-style-type: lower-roman;
    }
}

.toc__heading {
    background-color: #0c1020;
    border-bottom-left-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
    color: #80C24A;
    cursor: pointer;
    display: block;
    font-size: 0.85em;
    height: max-content;
    padding: 10px;
    position: absolute;
    right: max-content;
    rotate: 180deg;
    text-align: center;
    top: 0;
    user-select: none;
    word-spacing: 3px;
    writing-mode: vertical-lr;

    span {
        font-size: 1em;
    }

    &:hover {
        color: #3F6321;
        transition-property: color;
        transition-duration: 200ms;
    }
}

@media (min-width: 900px) {
    .toc {
        padding: 2dvh;
        padding-left: 0;
        min-height: 57dvh;
    }
    
    .toc__content {
        font-size: clamp(1.8dvh, 1dvh + 0.5em, 2.2dvh + 1em);
        min-height: 57dvh;
    }
    
    .toc__heading {
        font-size: clamp(1.8dvh, 1dvh + 0.5em, 2.2dvh + 1em);
        padding: 1em;
        word-spacing: 0.5dvh;
    
        span {
            font-size: clamp(2dvh, 1dvh + 0.8em, 2.5dvh + 1em);
        }
    }
}

//-------------------------
//  TOC Events             |
//-------------------------
$tocDuration: 250ms;
$tocDelay: 100ms;

.toc--hide,
.toc--show {
    transition-duration: $tocDuration;
    transition-property: background-color;

    section {
        transition-duration: $tocDuration;
        transition-property: translate;
    }

    span {
        transition-property: rotate;
        transition-duration: $tocDuration;
    }
}

.toc--hide {
    animation-duration: $tocDuration;
    animation-fill-mode: forwards;
    animation-name: tocHideZ__Animation;
    background-color: transparent;
    transition-delay: $tocDelay;

    @keyframes tocHideZ__Animation {
        from {
            z-index: 90;
            visibility: visible;
        }

        to {
            z-index: 0;
            visibility: collapse;
        }
    }

    section {
        translate: -100%;
    }

    div {
        visibility: visible;
    }

    span {
        rotate: 90deg;
    }
}

.toc--show {
    background-color: $borderColor;

    section {
        transition-delay: $tocDelay;
        translate: 0;
    }

    span {
        rotate: 270deg;
    }
}

//=========================================================
//  Section: Intro
//=========================================================
.section__intro {
    background-color: $boxBackgroundColor;

    display: block;
    margin-inline: auto;
    text-align: center;
    padding: 0;

    p {
        font-size: 0.9em;
    }
}

.section__source-link {
    margin-inline: auto;
    width: fit-content;
    padding-top: 60px;
}

@media (min-width: 900px) {
    .section__intro {
    
        p {
            font-size: clamp(1.7dvh, 1dvh + 0.5em, 1.5dvh + 1em);
        }
    }

    .section__source-link {
        padding-top: 5%;
    }
}

//=========================================================
//  Section: Body
//=========================================================
.section__body {
    margin-inline: auto;
    width: 90%;

    h2 {
        &::after {
            background-color: $borderColor;
            content: '';
            display: inline-block;
            height: 5px;
            width: 100%;
        }
    }

    h3 {
        margin-inline: auto;
        width: 90%;
        text-align: center;
        margin-top: 0;
    }

    //Selects the first paragraph
    h2+p {
        align-content: baseline;
        background-color: $boxBackgroundColor;
        border-bottom-left-radius: $borderRadius;
        border-color: #0c1020;
        border-width: 0;
        border-left-width: calc(5px * 4);
        border-style: solid;
        border-top-left-radius: $borderRadius;
        height: fit-content;
        margin-inline: auto;
        padding: 1em;
    }

    p {
        align-content: center;
        font-size: 1.2em;
        margin-inline: auto;
        width: 100%;

        img {
            background-color: #3F6321;
            border-color: $borderColor;
            border-radius: $borderRadius;
            border-style: solid;
            border-width: 5px;
            height: 180px;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 0.5em;
            width: 180px;
        }
    }
}

@media (min-width: 900px) {
    .section__body {
        width: 80%;
    
        h2 {
            &::after {
                height: $borderWidth;
            }
        }

        h3 {
            text-align: left;
        }

        h2+p {
            border-width: 0;
            border-left-width: calc($borderWidth * 4);
            min-height: 8dvh;
            padding: 2em;
            padding-left: 1em;
            width: 90%;
        }
    
        p {
            font-size: clamp(1.7dvh, 1dvh + 0.7em, 2dvh + 0.9em);
            line-height: 2.3em;
            width: 90%;
    
            img {
                border-width: $borderWidth;
                height: 20dvh;
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 0.5em;
                width: 20dvh;
            }
        }

        p>img {
            margin: 4dvh;
        }
        
        .section__body__headings--list {
            text-align: center;
        }
    }

    .section__body__paragraph__wrapper {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-inline: auto;
        width: 90%;
    }
}

//=========================================================
//  Section: Body- Content
//=========================================================
//Used to create the headings offset to accommodate the nav-bar for toc links
.section__body__headings::before {
    content: '';
    display: block;
    pointer-events: none;
    visibility: hidden;
    height: 120px;
    margin-top: -120px;
}

.section__body__list {
    border-color: $borderColor;
    border-style: solid;
    border-width: 1px;
    border-radius: $borderRadius;
    width: 70%;
    min-width: fit-content;
    margin-inline: auto;
    padding: 15px;

    img {
        background-color: #3F6321;
        border-color: $borderColor;
        border-radius: $borderRadius;
        border-style: solid;
        border-width: 5px;
        height: 180px;
        padding: 0.5em;
        width: 180px;
    }

    p {
        text-align: center;
    }

    ul {
        font-size: 1.2em;
        font-family: 'EB Garamond', serif;
        width: fit-content;
        margin-inline: auto;
        text-shadow: #0c1020 0.1em 0em;
    }
}

.section__body__text--em {
    font-weight: 600;
    color: #f7f1c6;
    text-shadow: #0c1020 0.1em 0em;
    text-decoration: underline;
}

.section__body__paragraph {
    display: block;
    margin-bottom: 1.5em;
    width: 100%;
}

@media screen and (min-width: 900px) {
    .section__body__headings::before {
        height: 10dvh;
        margin-top: -10dvh;
    }
    
    .section__body__list {
        padding: 2dvh;
    
        img {
            border-width: $borderWidth;
            height: 20dvh;
            width: 20dvh;
        }
    
        ul {
            font-size: clamp(2dvh, 1dvh + 0.8em, 2dvh + 1em);
        }
    }

    .section__body__paragraph--box-shadow {
        box-shadow: black 0.5dvh 0.75dvh 1dvh;
        padding: 2dvh;
        border-radius: $borderRadius;
        border-color: #0c1020;
        border-width: 0;
        border-top-width: 2dvh;
        border-style: solid;
    }

}

@media screen and (width < 1600px) and (width > 901px){
    .section__body{
        width: 90%;

        p{
            width: 95%;
        }
    }
}

//=========================================================
//  Section: Page Nav
//=========================================================
.section__page-nav {
    background-color: $backgroundColor;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    padding: 0;
    padding-bottom: 1em;
}

.page-nav {
    margin-top: 0;
    padding: 1em;
    width: fit-content;
}

//=========================================================
//  Badge Page Specific Changes
//=========================================================
.section__body__badges {
    ~div {
        align-items: center;
        border-color: $borderColor;
        border-radius: $borderRadius;
        border-style: solid;
        border-width: 1px;
        margin-bottom: 2em;
        margin-left: 5%;
        margin-right: auto;
        min-width: fit-content;
        padding: 1em;
        width: 70%;
    }

    ~div>h4 {
        font-size: 0.9em;
    }
}

@media (min-width: 900px) {
    .section__body__badges {
    
        ~div>h4 {
            font-size: clamp(1dvh, 1dvh + 0.4em, 1.8dvh + 0.8em);
        }
    }
}

//=========================================================
//  Utility
//=========================================================
.float--right {
    float: right;
}

.float--left {
    float: left;
}

@media screen and (max-width: 900px) {

    .float--left,
    .float--right {
        float: none;
        display: block;
        margin-inline: auto;
    }
}
