//=========================================================
//  Variables
//=========================================================
$backgroundColor: #2b3463;
$borderRadius: clamp(1dvw, 1em, 2dvw);
$borderColor: #0c1020;
$boxBackgroundColor: #20274A;
$headingColor: #80C24A;

//=========================================================
//  First Section
//=========================================================
.section-1__wrapper {
    background-color: $borderColor;
    border: solid $borderColor 4dvh;
    overflow: hidden;
}

.section-1 {
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    padding: 1em;
    padding-top: 0;
    position: relative;
}

//-------------------------
//  Section-1 Intro        |
//-------------------------
.section-1__intro {
    display: block;
    //margin-bottom: 80px;
}

.section-1__intro__graphic {
    background-color: $boxBackgroundColor;
    border-radius: 20dvh;
    //height: 30dvh;
    //margin: 0;
    margin-inline: auto;
    //min-height: 300px;
    //min-width: 300px;
    //width: 30dvh;
    
    //Wrapper for the svg component to allow forced scaling
    div{
        //scale: 0.5;
    }

}

.section-1__intro__heading {
    text-align: center;
    font-size: clamp(2.5dvh, 2em, 2dvh + 0.8em);
}

.section-1__intro__accent {
    display: flex;
    margin-inline: auto;
}

.section-1__intro__accent--line {
    align-self: center;
    background-color: #0c1020;
    height: 0.5dvh;
    margin-bottom: 10px;
    min-height: 5px;
    width: 40dvh;

    &:nth-child(1) {
        margin-left: auto;
        margin-right: -1px;
    }

    &:nth-child(3) {
        margin-left: -1px;
        margin-right: auto;
    }
}

.section-1__intro__accent--circle {
    background-color: #0c1020;
    border-radius: 20em;
    height: 1.5dvh;
    margin-bottom: 10px;
    min-height: 15px;
    min-width: 15px;
    width: 1.5dvh;
}

//-------------------------
//  Section-1 Container    |
//-------------------------
.section-1__container {
    background-color: #0c1020;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    border-width: 0;
    border-bottom-width: max(50px, 5dvh);
    border-color: $boxBackgroundColor;
    border-style: solid;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: max(50px, 5dvh);
    padding: max(30px, 3dvh);
}

.section-1__container__heading {
    align-items: center;
    background-color: $boxBackgroundColor;
    border-color: $borderColor;
    border-style: solid;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    border-width: max(5px, 0.5dvh);
    display: flex;
    font-size: clamp(2dvh, 1dvh + 0.5em, 2dvh + 1em);
    margin-top: max(80px, 8dvh);
    padding: max(15px, 1.5dvh);

    h2 {
        margin-right: 20px;
    }

    >div {
        margin-left: auto;
        margin-right: 10px;
    }

}

.section-1__container__heading__accent {
    background-color: #0c1020;
    border-radius: 20em;
    height: 1.5dvh;
    margin-bottom: max(10px, 1dvh);
    min-height: 15px;
    min-width: 15px;
    width: 1.5dvh;
}

.section-1__container__paragraph {
    background-color: $boxBackgroundColor;
    border-radius: 1em;
    font-size: clamp(2.5dvh, 1dvh + 1rem, 3.5dvh - 3em);
    margin-left: auto;
    margin-right: auto;
    width: 25em;

    p {
        padding: 1em;
    }
}

.section-1__container__figure {
    background-color: $boxBackgroundColor;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: 0;

    img{
        display: block;
        margin-inline: auto;
        width: max(150px, 15dvh);
    }

    figcaption {
        font-size: clamp(1dvh, 0.5em, 2dvh);
        padding-top: 0.5em;
        text-align: center;
    }
}

//=========================================================
//  Second Section
//=========================================================
.section-2__wrapper {
    background-color: $borderColor;
    border: solid $borderColor 4dvh;
}

.section-2 {
    background-color: $backgroundColor;
    padding: 1em;
    border-radius: $borderRadius;
    position: relative;

    h2 {
        background-color: $boxBackgroundColor;
        padding: 1em;
    }

    p {
        width: 50%;
        font-size: clamp(2.5dvh, 1dvh + 1rem, 3.5dvh);
        margin-left: 15dvh;
    }
}

//-------------------------
//  Section-2: Page Nav    |
//-------------------------
@mixin page-nav__transition {
    transition-duration: 200ms;
    transition-timing-function: linear;
    transition-property: translate, box-shadow;
}

.section-2__page-nav {
    background-color: $boxBackgroundColor;
    border-radius: 10em;
    display: flex;
    font-size: max(18px, 1.8dvh);
    margin-bottom: max(20px, 2dvh);
    margin-top: max(80px, 8dvh);
    text-align: center;

    a {
        background-color: $borderColor;
        border-color: $headingColor;
        border-radius: 10em;
        border-style: solid;
        border-width: max(5px, 0.5dvh);
        padding: max(0.5em, 2dvh);
        padding-left: clamp(2em, 5em, 8dvw);
        padding-right: clamp(2em, 5em, 8dvw);
        user-select: none;

        span {
            @include page-nav__transition;
            font-size: max(20px, 2dvh);
            translate: 0;
        }
    }
}

.section-2__page-nav__prev,
.section-2__page-nav__next {
    box-shadow: 0 0 0 $borderColor;
    translate: 0;

    &:hover {
        @include page-nav__transition;
        translate: 0 -1dvh;
        box-shadow: 0 1dvh 0 $borderColor;

        span {
            @include page-nav__transition;
        }
    }

}

.section-2__page-nav__prev {
    @include page-nav__transition;
    margin-right: auto;
    margin-left: 0;

    &:hover {
        span {
            translate: -1dvh;
        }
    }
}

.section-2__page-nav__next {
    @include page-nav__transition;
    margin-left: auto;
    margin-right: 0;

    &:hover {
        span {
            translate: 1dvh;
        }
    }
}
