//=========================================================
//  Variables
//=========================================================
$backgroundColor: #2b3463;
$borderRadius: clamp(1dvw, 1em, 2dvw);
$borderColor: #0c1020;
$boxBackgroundColor: #20274A;
$headingColor: #80C24A;
$borderWidth: max(5px, 0.5dvh);

.section-1__project-pane{
    background-color: $borderColor;
    border-radius: $borderRadius;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    width: fit-content;
}

.section-1__project-pane__title{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: clamp(2.5dvh, 1dvh + 1rem, 3.5dvh);
    margin-inline: auto;
}

.section-1__project-pane__side{
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    margin: max(40px, 4dvh);
    margin-top: 0;
    padding: max(25px, 2.5dvh);
    font-size: clamp(1.75dvh, 1dvh + 0.4rem, 2.75dvh);
}

.section-1__project-pane__side__card{
    background-color: $boxBackgroundColor;
    border-color: $borderColor;
    border-radius: $borderRadius;
    border-style: solid;
    border-width: $borderWidth;
    box-shadow: 0px 0px 0px black;
    margin-top: max(20px, 2dvh);
    padding: max(25px, 2.5dvh);
    transform: translateY(0px);
    transition-duration: 200ms;
    transition-property: transform, box-shadow;
    user-select: none;

    h3{
        text-align: center;
    }

    &:hover{
        background-color: darkslategrey;
        box-shadow: 0px max(5px, 0.5dvh) max(20px, 2dvh) black;
        cursor: pointer;
        transform: translateY(-10px);
        transition-duration: 200ms;
        transition-property: transform;
    }
}

.section-1__project-pane__frame{
    background-color: $boxBackgroundColor;
    border-radius: $borderRadius;
    display: block;
    margin: max(40px, 4dvh);
    margin-left: 0;
    margin-top: 0;
    padding: max(25px, 2.5dvh);
    font-size: clamp(1.75dvh, 1dvh + 0.4rem, 2.75dvh);
}

.section-1__project-pane__frame__default{
    background-color: $boxBackgroundColor;
    border-radius: $borderRadius;
    display: block;
    padding: max(25px, 2.5dvh);
    width: fit-content;

    span{
        animation-name: section-1__project-pane__frame__default__Animation;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-delay: 500ms;
        animation-direction: alternate;
        font-size: clamp(2dvh, 1dvh + 0.8rem, 2dvh);

        @keyframes section-1__project-pane__frame__default__Animation {
            from{
                translate: 0;
            }
            to{
                translate: -10px;
            }
        }
    }
}

.section-1__project-pane__frame__content__link{
    border-color: $borderColor;
    border-radius: $borderRadius;
    border-style: solid;
    border-width: max(5px, 0.5dvh);
    display: block;
    font-size: clamp(1.75dvh, 1dvh + 0.4rem, 2.75dvh);
    margin-bottom: 50px;
    margin-top: 50px;
    padding: max(10px, 1dvh);
    width: fit-content;

    >span{
        animation-duration: 1000ms;
        animation-name: link__spin__Animation;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        font-size: clamp(1.75dvh, 1dvh + 0.4rem, 2dvh);
        color: #80C24A;

        @keyframes link__spin__Animation {
            from{
                rotate: 0deg;
            }
            to{
                rotate: 360deg;
            }
        }
    }

    a{
        span{
            transition-property: rotate;
            transition-duration: 300ms;
            rotate: 0;
            transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1);
            font-size: clamp(1.75dvh, 1dvh + 0.4rem, 2dvh);
        }
    
        &:hover{
    
            span{
                transition-property: rotate;
                transition-duration: 300ms;
                rotate: 360deg;
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
            }
    
        }
    }

}

.content-hide{
    visibility:collapse;
    height: 0;
    position: absolute;
}

.content-show{
    visibility: visible;
}

.section-2{
    border-width: max(40px, 4dvh);
    border-color: $borderColor;
    border-style: solid;
    background-color: $boxBackgroundColor;
    border-radius: $borderRadius;
    padding: max(20px, 2dvh);
    margin-top: max(50px, 5dvh);
}
.page-nav{
    margin: 0;
}

//=========================================================
//  Media Queries
//=========================================================
@media screen and (width < 615){
    .section-1__project-pane__side{
        font-size: clamp(1dvh, 1dvh + 0.1rem, 2dvh);  
        margin: max(20px, 2dvh);
        margin-top: 0;
        padding: max(10px, 1dvh);
    }

    .section-1__project-pane__side__card{
        padding: max(10px, 1dvh);
    }

    .section-1__project-pane__frame{
        height: 50dvh;
        margin-bottom: max(20px, 2dvh);
        margin-right: max(20px, 2dvh);
        min-height: 500px;
        min-width: 200px;
        overflow-y: scroll;
    }
}
