$backgroundColor: #2b3463;
$borderRadius: clamp(1dvw, 1em, 2dvw);
$borderColor: #0c1020;
$boxBackgroundColor: #20274A;
$headingColor: #80C24A;
$borderWidth: max(5px, 0.5dvh);
$backgroundColor2: #181D1F;

main{
    background-color: $borderColor;
}

section{
    background-color: $backgroundColor;

    >section{
        width: fit-content;
        margin: auto;
        padding: 3em;
        background-color: $boxBackgroundColor;
    }
}

.code-block{
    background-color: black;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    //padding: 1em;
    width: fit-content;
    height: fit-content;
    padding: 0;
}

code{
    background-color: $backgroundColor2;
    //padding: 1em;
    width: fit-content;
    height: fit-content;
    padding: 0;
    white-space-collapse: preserve;
}

iframe{
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin-inline: auto;
    display: block;
}

.iframe__wrapper{
    margin-inline: auto;
}

.construction-line{
    margin-inline: auto;
    width: fit-content;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

    h4{
        margin-top: 15%;
    }
}

.construction-overlay{
    filter: blur(10px);
    user-select: none;
    cursor: pointer;
    pointer-events: none;

    text-align: center;
}

@media screen and (width < 1060px) {
    iframe{
        scale: 0.9;
        width: 100%;
    }
}
