//=========================================================
//  Section 1
//=========================================================
.section-1__container{
    flex-wrap: wrap;
    padding: 5px;
}
.section-1__container__paragraph{
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    align-self: center;
}

@media (min-width: 900px) {
    .section-1__container__paragraph{
        padding: max(30px, 3dvh);
        margin-bottom: max(15px, 1.5dvh);
        margin-top: max(15px, 1.5dvh);
    }
}

//=========================================================
//  Section 2
//=========================================================
.section-2{

    h2 + div{
        width: 80%;
        margin-inline: auto;
    }

    p{
        width: 80%;
    }
}

@media (min-width: 900px) {
    .scroll--show--once{
        .badge{
            animation-name: skill-badge-Animation;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
            animation-delay: 500ms;
            opacity: 0;
            translate:0 30px;
        
            @keyframes skill-badge-Animation {
                from{
                    opacity: 0;
                    translate:0 30px;
                }
                50%{
                    translate:0 -15px;
                }
                to{
                    opacity: 1;
                    translate:0;
                }
            }
        }
        
        @for $i from 2 through 20 {
            .badge:nth-child(#{$i}){
                animation-delay: 500ms + $i*100ms;
            }
        }
    }
}
