.section-1__container{
    flex-wrap: wrap;
}
.section-1__container__paragraph{
    padding: max(30px, 3dvh);
    margin-bottom: max(15px, 1.5dvh);
    margin-top: max(15px, 1.5dvh);
    align-self: center;
}
