//=========================================================
//  Variables
//=========================================================
//-------------------------
//  Widths                 |
//-------------------------
$bodyWidth: 100%;
$mainWidth: 80%;
//-------------------------
//  Heights                |
//-------------------------
$separatorHeight: 40px;
$separatorNotchHeight: 70px;
//-------------------------
//  Colors                 |
//-------------------------
$accentColor1: #0E3D69;
$accentColor2: #075C61;
$accentColor3: #1C0B3D;
$accentColor4: #1E181F;
$backgroundColor1: #181D1F;
$backgroundColor2: #181D1F;
$dropdownColorBG: #2B3E4D; //temp color
$fontColor1: #e1e0e0;
$fontColor2: #40DB8D;
$insetShadow: rgba(0, 0, 0, 0.6);
$mainColor: #2B3E4D;
$transparent: rgba(0, 0, 0, 0);

//Breadcrumb Colors
$breadcrumbBGColor: #161B38;
$breadcrumbBorderColor: #0C0E0F;
//Content Colors
$contentBGColor: #161B38;
$contentBorderColor: #0C0E0F;
$contentFrameColor: #1B304F;
//Flex Card Colors
$flexCardDefaultColor: #161B38;
$flexCardHoverColor: #6CAB3C;
//Footer Colors
$footerBGColor: #181D1F;
$footerColor: #000000;
$footerFontColor: #828d91;
//Github Colors
$githubBGColor: #1B304F;
$githubBorderColor: #0C0E0F;
$githubUnderlineColor: white; //temp
$githubIconBGColor: white; //temp
//Heading Colors
$headingColor: #6CAB3C;
//Intro Colors
$introInnerBorderColor: #0C0E0F;
$introHeaderTitleBG: #1B304F;
//Link Colors
$linkColorActive: #53852D;
$linkColorDefault: #6CAB3C;
$linkColorHover: #9CF757;
//Scroll to Top Colors
$scrollBtnBGColor: #1B304F;
$scrollBtnFontColor: #6CAB3C;

$sectionDividerColor: #0C0E0F;

//Saved Colors
//181D1F
//1F1D1C
//161B38
//223138
//424B85
//424C85
//0C0E0F
//314185
//53852D
//$linkColor: #3191ff;
$introInnerBorderSize: 3px;

//Font
$primaryFont: 'Arial', Helvetica, sans-serif;
$secondaryFont: 'Times New Roman', Times, serif;
//Animations


//=========================================================
//  Reset
//=========================================================
//Basic resets used for better cross browser compatibility
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
}

img {
    height: auto;
    width: auto;
}

//=========================================================
//  Body
//=========================================================
body {
    color: $fontColor1;
    background-color: $backgroundColor1;
    font-family: $primaryFont;
    height: 100%;
    margin: 0;
    padding: 0;
    width: $bodyWidth;
    z-index: 1;

    //Emulate scrollbar from Firefox
    &::-webkit-scrollbar {
        background: #171b1e;
    }

    &::-webkit-scrollbar-thumb {
        background: #5f6263;
        //-webkit-border-radius:20px;
    }
}

//=========================================================
//  Main
//=========================================================
main {
    background-color: $backgroundColor2;
    margin: auto;
    padding: 2%;
    padding-top: 0;
    width: $mainWidth;
    z-index: 90;
}

//=========================================================
//  Footer
//=========================================================
footer {
    margin: auto;
    width: auto;
}

//=========================================================
//  Background
//=========================================================
/*
.bg {
    background-image: url(../images/bg.svg);
    height: 100%;
    width: 100%;
} */

//=========================================================
//  Headings
//=========================================================
h1 {
    color: $headingColor;
}

h2 {
    color: $headingColor;
}

//=========================================================
//  Paragraphs
//=========================================================
p {
    font-family: $secondaryFont;
}

//=========================================================
//  Links
//=========================================================
a {
    border: {
        style: solid;
        color: $linkColorDefault;
        width: 0;
        bottom-width: 1px;
    }

    font-size: 1em;
    //text-shadow: black 2px 2px 10px;
    transition-duration: 200ms;
    transition-property: border,
    color;

    &:active {
        color: $linkColorActive;
    }

    &:link,
    &:visited {
        color: $linkColorDefault;
    }

    &:hover {
        border: {
            style: solid;
            color: $linkColorHover;
            bottom-width: 3px;
        }

        color: $linkColorHover;
        cursor: pointer;
        transition-property: border,
        color;
        transition-duration: 200ms;
    }
}

//=========================================================
//  Nav-Bar
//=========================================================
@import 'nav-bar.scss';

//=========================================================
//  Scroll to Top
//=========================================================
.scroll-to-top {
    bottom: 120px;
    position: fixed;
    right: 4%;

    button {
        background-color: $scrollBtnBGColor;
        border: 0;
        border-color: $scrollBtnFontColor;
        border-radius: 40px;
        border-style: solid;
        border-width: 3px;
        color: $scrollBtnFontColor;
        padding: 15px;
        transition-duration: 300ms;

        &:hover {
            cursor: pointer;
            scale: 1.1;
            transition-duration: 300ms;
            transition-property: all;

            span {
                transition-duration: 300ms;
                transition-property: all;
                translate: 0 -5px;
            }
        }
    }

    span {
        display: block;
        font-size: 40;
        text-shadow: #000000 0px 3px;
        transition-duration: 300ms;
        transition-property: all;
    }
}

//-------------------------
//  Scroll Events          |
//-------------------------
.scroll-to-top--hidden {
    opacity: 0;
    transition-duration: 300ms;
    transition-property: all;
    visibility: hidden;

}

.scroll-to-top--visible {
    opacity: 1;
    transition-duration: 300ms;
    transition-property: all;
    visibility: visible;
}

//=========================================================
//  Footer Classes
//=========================================================
.footer {
    background-color: $footerBGColor;
    //background-color:rgb(28, 26, 26);
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 80%;

    //Removes the link styling
    a {
        border-color: $footerFontColor;

        &:hover {
            color: $footerFontColor;
            border-color: $footerFontColor;
        }
    }
}

.footer__flex {
    display: flex;
    flex-wrap: nowrap;
    //background-color: #075C61;
}

.footer__col {
    align-self: center;
    color: $footerFontColor;
    display: block;
    //background-color: rgb(28, 26, 26);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.--footer-col-1 {
    //background-color: #40DB8D;

    span {
        padding-left: 20px;
    }
}

.--footer-col-2 {
    text-align: center;
}

.--footer-col-3 {
    text-align: end;
}

.footer__divider--top {
    background-color: $footerFontColor;
    border-radius: 10px;
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.footer__divider--side {
    align-self: center;
    background-color: $footerFontColor;
    border-radius: 10px;
    display: block;
    height: 150px;
    width: 0px;
}
