//=========================================================
//  Imports
//=========================================================


//=========================================================
//  Variables
//=========================================================
//Widths
$bodyWidth: 100%;
$mainWidth: 80%;
//Colors
$accentColor1: #0E3D69;
$accentColor2: #075C61;
$accentColor3: #1C0B3D;
$accentColor4: #4C0C5E;
$backgroundColor1: #1C0B3D;
$backgroundColor2: #212436;
$dropdownColorBG: #2B3E4D; //temp color
$footerColor: #000000;
$fontColor1: #e1e0e0;
$fontColor2: #40DB8D;
$insetShadow: rgba(0, 0, 0, 0.6);
$linkColor: #3191ff;
$mainColor: #2B3E4D;
$transparent: rgba(0, 0, 0, 0);
//Font
$primaryFont: 'Arial', Helvetica, sans-serif;
$secondaryFont: 'Times New Roman', Times, serif;

//=========================================================
//  Reset
//=========================================================
//Basic resets used for better cross browser compatibility
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
}

img {
    height: auto;
    width: auto;
}

//=========================================================
//  Body
//=========================================================
body {
    color: $fontColor1;
    background-color: $backgroundColor1;
    font-family: $primaryFont;
    height: 100%;
    margin: 0;
    padding: 0;
    width: $bodyWidth;
    z-index: 1;
}

//=========================================================
//  Main
//=========================================================
main {
    background-color: $backgroundColor2;
    margin: auto;
    padding: 2%;
    width: $mainWidth;
    z-index: 90;
}

//=========================================================
//  Footer
//=========================================================
footer {
    background-color: $footerColor;
    margin: auto;
    width: auto;
}

//=========================================================
//  Background
//=========================================================
/*
.bg {
    background-image: url(../images/bg.svg);
    height: 100%;
    width: 100%;
} */

//=========================================================
//  Headings
//=========================================================
h1 {
    color: $fontColor2;
}

h2 {
    color: $fontColor2;
}

//=========================================================
//  Paragraphs
//=========================================================
p {
    font-family: $secondaryFont;
}

//=========================================================
//  Links
//=========================================================
a {
    border-bottom: 1px solid;
    border-bottom-width: 1px;
    font-size: 1em;
    text-shadow: $accentColor3 1px 1px 2px;
    transition-duration: 300ms;
    transition-property:
        border-bottom-width,
        color,
        font-size;

    &:active {
        color: $accentColor2;
    }

    &:link,
    &:visited {
        color: $fontColor2;
    }

    &:hover {
        border-bottom-width: 3px;
        color: $linkColor;
        font-size: 1em;
        transition: all;
        transition-duration: 100ms;
    }
}

/*
Make nav-bar transparent
Get rid of background? (the area between body and main)
Make section background colors different to break up the content
*/

//=========================================================
//  Nav-Bar
//=========================================================
nav {
    //position and make a truncated version when scrolling down
    background-color: $mainColor;
    box-shadow: inset 0px -5px 0px $fontColor2; //Used to create a pseudo border
    height: 10rem;
    padding: 1% 0 1% 0;
    position: relative;
    width: 100%;
    z-index: 101;
}

.nav-bar {
    align-items: center;
    display: flex;
    font-weight: 750;
    margin-left: 10%;

}

//-------------------------
//  Nav-Bar: Btn-Hamburger |
//-------------------------
.nav-bar__btn {
    margin-right: 5%;
}

.nav-bar__btn--hamburger {
    background-color: $accentColor2;
    border: 0;
    border-radius: 20%;
    box-shadow:
        inset 2px 0px 4px $insetShadow,
        inset -2px -4px 4px $insetShadow,
        $accentColor3 0px 2px 3px;
    transition-duration: 150ms;
    transition-property:
        background-color,
        box-shadow;
    width: 4rem;

    &:hover {
        background-color: $accentColor1;
        border-radius: 20%;
        cursor: pointer;
    }

    &:active {
        box-shadow:
            inset -1px -1px 4px $insetShadow,
            inset 1px 0px 4px $insetShadow,
            #1C0B3D 0px 1px 1px;
    }

    //Span used by Google Material Icon
    span {
        padding: {
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
        }

        color: $fontColor2;
        font-size: 2rem;
        line-height: 1.5;
        transition-duration: 150ms;
        transition-property: translate;
        translate: 0px 0px;
        width: 100%;

        &:active {
            translate: 0px 2.5px;
        }
    }
}

//-------------------------
//  Nav-Bar: Theme Switch  |
//-------------------------
.nav-bar__theme-switch {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 65px;

    //Removes the default checkbox style
    input {
        height: 0;
        opacity: 0;
        width: 0;
    }

    //This draws the container for the switch
    span {
        background-color: $accentColor2;
        border-radius: 20px;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        top: 0;
        transition: 300ms;
        right: 0;
    }

    span::before {
        background-color: $fontColor1;
        bottom: 6px;
        border-radius: 50%;
        content: "";
        height: 25px;
        left: 6px;
        position: absolute;
        transition: 300ms;
        width: 25px;
    }

    input:checked+span {
        background-color: $accentColor4;
    }

    input:checked+span::before {
        transform: translateX(28px);
    }
}

//-------------------------
//  Nav-Bar: Links         |
//-------------------------
.nav-bar__link__menu {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    position: relative;
    user-select: none;
    white-space: nowrap; //Prevents last item from wrapping

    li {
        display: inline;
        list-style: none;
        padding-left: 5em;
        position: relative;

        //Span used by Google Material Icons
        span {
            font-size: 1.5em;
            line-height: -10%;
            translate: 0px 5px;
        }
    }
}

//-------------------------
//  Nav-Bar: Dropdown Menu |
//-------------------------
.nav-bar__drop-down {
    background: $dropdownColorBG;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    //display: grid;
    //grid-template-columns: 100px / 200px;
    height: auto;
    margin: auto;
    padding: 2%;
    position: absolute;
    right: 70%;
    top: 100%; //Used to shift down from top of navbar
    transition-duration: 400ms;
    transition-property: opacity;
    user-select: none;
    width: 30%;
    z-index: 1;
}

//  Dropdown Menu: Header
//-----------------------
.nav-bar__drop-down__header {
    display: flex;
    flex-wrap: nowrap;
    //padding: 1px;
    margin-bottom: 50px;
}

//Dropdown Menu: Expand/Collapse Toggle
.nav-bar__drop-down__header__toggle {
    font-size: 0.9em;
    align-self: center;
    //display:flex;
    //display: grid;
    margin-right: 20px;

    label {
        translate: 5px -3px;
        &:hover {
            cursor: pointer;
        }
    }


    span {
        font-size: 0.9em;
        color: $fontColor2;
        background-color: $accentColor2;
        border-radius: 20px;
        padding: 5px;

        margin-left: 4px;
        //margin-right: 10px;
        display: inline-flex;
        //flex-wrap: wrap;

        transition-duration: 150ms;
        transition-property: background-color, box-shadow, translate;

        &:hover {
            background-color: $accentColor1;
            cursor: pointer;
        }


    }

    [class="material-symbols-rounded"] {
        font-size: 1.3em;
        background-color: $transparent;
        translate: -4px 3px;



    }
}

//Dropdown Menu: Btn Exit
.nav-bar__drop-down__btn--exit {
    background-color: $accentColor2;
    border: 0;
    border-radius: 20%;
    box-shadow: $accentColor3 0 5px 1px;
    display: block;
    line-height: 0%;
    margin-left: auto;
    padding: 0;
    transition-duration: 150ms;
    transition-property: background-color, box-shadow, translate;

    &:hover {
        background-color: $accentColor1;
        cursor: pointer;
    }

    &:active {
        box-shadow: $accentColor3 0 0px 1px;
        translate: 0px 2.5px;
    }

    span {
        font-size: 3rem;
        color: $fontColor2;
    }
}

//  Dropdown Menu: Sub
//--------------------
.nav-bar__drop-down__sub {
    display: block;
    padding-bottom: 20px;
    position: relative;
}

//Span that holds the subsection title and Material Icons
.nav-bar__drop-down__sub__span {

    label {
        color: $fontColor2;
        margin-right: auto;
        //text-shadow: black 0 0 0;
        border: 0;

        border: {
            style: solid;
            color: $fontColor2;
            bottom-width: 1px;
            bottom-left-radius: 0%;
        }

        transition-property: border,
        color;
        transition-duration: 300ms;

        &:hover {
            //text-shadow: black 2px 2px 3px;
            cursor: pointer;
            color: $linkColor;
            transition-property: border, color;
            transition-duration: 100ms;

            border: {
                style: solid;
                color: $linkColor;
                bottom-width: 3px;
                bottom-left-radius: 0%;
            }

            &~span {
                //Duration also effects the rotate transition for arrow toggle classes
                color: $linkColor;
                transition-property: color, rotate;
                transition-duration: 100ms;
            }
        }
    }

    //Span used by Google Material Icons
    span {
        color: $fontColor2;
        translate: 0 8px; //Centers icon
    }
}

//  Dropdown Menu: Footer
//-----------------------
.nav-bar__drop-down__footer {

    //Empty div to shift the footer down and retain dynamic resizing 
    div {
        height: 100px;
        width: 100%;
    }

    span {
        font-size: 1.5em;
        //Move down Material Icon
        translate: 0 3px;
        margin-bottom: 10px;
    }

    //About Section Link
    a {
        display: inline;
        font-size: 0.75em;
    }
}

.nav-bar__drop-down__footer__break {
    //Creates the divider from subsections to footer
    background-color: $dropdownColorBG;
    box-shadow:
        inset 0px 2px 2px 0px $insetShadow,
        inset -0px -2px 2px 0px $insetShadow,
        black 0px 0px 1px;
    display: inline-block;
    height: 5px;
    width: 100%;
}

//-------------------------
//  Nav-Bar: Events        |
//-------------------------
.--hidden {
    transition-property: right;
    transition-duration: 400ms;
    right: 100%;
}

.--visible {
    transition-property: right;
    transition-duration: 400ms;
    right: 70%;
}

.--unblur {
    filter: blur(0);
    transition-duration: 400ms;
    transition-property: filter;
}

.--blur {
    filter: blur(15);
    transition-duration: 400ms;
    transition-property: filter;
}

[class$="--display-none"] {
    display: none;
}

[class$="--display-block"] {
    display: block;
}

//Duration for both is under the span/label transition
[class$="--expand-more"] {
    rotate: (0deg);
}

[class$="--expand-less"] {
    rotate: (180deg);
}

.nav-bar__drop-down__header__toggle {
    color: #3191ff;
}

.--active {
    //filter:grayscale(0);
}

.--nonactive {
    //filter:grayscale(100%);
}

//=========================================================
//  Introduction
//=========================================================
.intro {
    height: 100%;
    margin: auto;
    position: relative;
    width: 90%;
}

.intro__title {
    padding-top: 10%;

    &::after {
        animation-delay: 1000ms;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-name: title-head-animation;
        background: $accentColor2;
        border-radius: 0%;
        content: "";
        display: grid;
        height: 4px;
        width: 0;
    }

    @keyframes title-head-animation {
        from {
            width: 0;
        }

        to {
            width: 40%;
        }
    }
}

.intro__summary {
    display: flex;
    overflow: visible;

    >div>p {
        background-color: $accentColor2; //use class selection instead WIP
        border-radius: 5%;
        margin-right: clamp(30%, 50%, 70%);
        padding: 1%;
    }
}

.intro__summary__frame {
    animation-delay: 1000ms;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: flex-box1-animation;
    background: $accentColor2;
    border-radius: 3%;
    height: 65%;
    margin-left: 65%;
    margin-right: 0%;
    margin-top: -8%;
    padding: 0%;
    position: absolute;
    width: 0%;

    @keyframes flex-box1-animation {
        from {
            box-shadow: $fontColor2 20px 20px 10px;
            height: 65%;
            width: 0;
        }

        to {
            box-shadow: $fontColor2 5px 5px 2px;
            height: 65%;
            width: 25%;
        }
    }

    &::before {
        content: "";
        background: $fontColor2;
        display: flex;
        height: 100%;
        margin-left: -30%;
        width: 3%;
    }
}

/*
.div-intro-content::after{
    background: #e1e0e0;
    content: "";
    height:200px;
    width: 200px;
    display:flex;
    flex-direction: row;
}*/
//=========================================================
//  Second Section Classes
//=========================================================
.div-second-section {
    margin: auto;
    width: 90%;
}

//=========================================================
//  Flexbox 1x3 Classes
//=========================================================
.flex-box--1x3 {
    background-color: $mainColor;
    border: 10px;
    border-color: $accentColor2;
    border-style: solid;
    border-radius: 100px;
    column-gap: 1%;
    display: flex;
    flex-wrap: nowrap;
    padding: clamp(30px, 1%, 3%);

    /*font-size: 1vw; Experiment with viewport width/height for font*/
    div {
        background-color: $accentColor2;
        border-radius: 10px;
        border-style: dotted;
        border-color: $backgroundColor2;
        margin: auto;
        padding: clamp(1%, 2%, 3%);
    }
}

//=========================================================
//  Flexbox 1x4 Classes
//=========================================================
.flex-box--1x4 {
    background-color: $mainColor;
    border: 10px;
    border-color: $accentColor2;
    border-style: solid;
    border-radius: 100px;
    column-gap: 1%;
    display: flex;
    flex-wrap: nowrap;
    padding: 1%;

    div {
        background-color: $accentColor2;
        border-radius: 10px;
        border-style: dotted;
        border-color: $backgroundColor2;
        margin: auto;
        padding: clamp(1%, 2%, 3%);
    }
}

//=========================================================
//  Banner Classes
//=========================================================
