//=========================================================
//  Main
//=========================================================
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Serif&family=Open+Sans&family=Quicksand&family=Raleway:wght@400;600&family=Source+Code+Pro&display=swap');
//-------------------------
//  Variable               |
//-------------------------
//Height/Width
$separatorHeight: 40px;
$separatorNotchHeight: 70px;
$borderRadius: clamp(1dvw, 1em, 2dvw);
//Colors
$accentColor1: #0E3D69;
$accentColor2: #075C61;
$accentColor3: #1C0B3D;
$accentColor4: #1E181F;
$backgroundColor1: #181D1F;
$backgroundColor2: #181D1F;
$dropdownColorBG: #2B3E4D; //temp color
$fontColor1: #e1e0e0;
$fontColor2: #40DB8D;
$insetShadow: rgba(0, 0, 0, 0.6);
$mainColor: #2B3E4D;

//Heading Colors
$headingColor: #80C24A;

//Link Colors
$linkColorActive: #53852D;
$linkColorDefault: #80C24A;
$linkColorHover: #3F6321;

//Font
$primaryFont: Helvetica, Arial, sans-serif;
$secondaryFont: 'EB Garamond', 'Times New Roman', Times, serif;

//=========================================================
//  Reset
//=========================================================
//Basic resets used for better cross browser compatibility
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
}

img {
    height: auto;
    width: auto;
}

//=========================================================
//  Body
//=========================================================
body {
    color: $fontColor1;
    background-color: $backgroundColor1;
    font-family: $primaryFont;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;

    //Emulate scrollbar from Firefox
    &::-webkit-scrollbar {
        background: #171b1e;
    }

    &::-webkit-scrollbar-thumb {
        background: #5f6263;
        //-webkit-border-radius:20px;
    }
}

//=========================================================
//  Main
//=========================================================
main {
    background-color: $backgroundColor2;
    margin: auto;
    padding: 2%;
    padding-top: 0;
    width: 80%;
    z-index: 90;
}

//=========================================================
//  Footer
//=========================================================
footer {
    margin: auto;
    width: auto;
}

//=========================================================
//  Background
//=========================================================
/*
.bg {
    background-image: url(../images/bg.svg);
    height: 100%;
    width: 100%;
} */

//=========================================================
//  Headings
//=========================================================
h1,
h2,
h3,
h4 {
    color: $headingColor;
    font-family: 'Raleway', sans-serif;
    font-weight: 600; 
}

//=========================================================
//  Paragraphs
//=========================================================
p {
    font-family: $secondaryFont;
}

//=========================================================
//  Text  Emphasis
//=========================================================
b {
    color: #b2ae3d;
    text-shadow: #0c1020 0.05em 0.05em 0px;
}

abbr {
    //background-color: #111a22;
    //padding: 0.2em;
    //border-radius: 0.5em;
    //padding-bottom: 0.1em;
    //padding-top: 0;
}

.text-emphasis {
    //background-color: #1C0B3D;

    &--environmental {
        //background-color: #40DB8D;
    }

    &--programmer {}
}

//=========================================================
//  Fonts
//=========================================================
.font--open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font--quicksand {
    font-family: 'Quicksand', sans-serif;
}

.font--eb-garamond {
    font-family: 'EB Garamond', serif;
}

.font--source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

.font--noto-serif {
    font-family: 'Noto Serif', serif;
}

.font--raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: 600; 
}

nav{
    font-family: 'Raleway', sans-serif;
    font-weight: 600; 
}

//=========================================================
//  Links
//=========================================================
a {
    border: 0;
    border-bottom-width: 0.1dvh;
    border-color: $linkColorDefault;
    border-style: solid;
    font-size: 1em;
    transition-duration: 300ms;
    transition-property: border,
        color;

    &:active {
        color: $linkColorActive;
    }

    &:link,
    &:visited {
        color: $linkColorDefault;
    }

    &:hover {
        border-bottom-width: 0.4dvh;
        border-color: $linkColorHover;
        border-style: solid;
        color: $linkColorHover;
        cursor: pointer;
        transition-property: border,
            color;
        transition-duration: 100ms;
    }

    &:focus {
        outline: auto;
    }
}

.disable__link-style {
    border: 0;
    transition-property: none;

    &:hover {
        border: 0;
        transition-property: none;
    }

    &:focus {
        outline: none;
    }
}

//=========================================================
//  Nav-Bar
//=========================================================
@import '../components/nav-bar/nav-bar_style.scss';

//=========================================================
//  Scroll Transitions
//=========================================================
@media (pointer: fine){
    @mixin scroll_Transition {
        transition-property: opacity;
        transition-duration: 1000ms;
    }
    
    .scroll--hide,
    .scroll--hide--once {
        @include scroll_Transition;
        opacity: 0;
    }
    
    .scroll--show,
    .scroll--show--once {
        @include scroll_Transition;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-name: scroll--transition-Anim;
        opacity: 1;
    
        @keyframes scroll--transition-Anim {
            from {
                translate: 0 100px;
                filter: blur(0.5em);
            }
    
            50% {
                translate: 0 -15px;
            }
    
            to {
                translate: 0;
                filter: blur(0em);
            }
        }
    }
}

//=========================================================
//  Scroll to Top
//=========================================================
@import '../components/scroll-to-top/scroll-to-top_style.scss';

//=========================================================
//  Footer Classes
//=========================================================
@import '../components/footer/footer_style.scss';

//=========================================================
//  Nav-Bar: Media Queries
//=========================================================
@media screen and (width < 970px) {
    main {
        width: 100%;
    }
}
