:root{
    --bodyWidth: 100%;
    --mainWidth: 80%;
}
/*Body*/
body{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    width: var(--bodyWidth);
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    z-index: 1;
}
/*Nav-Bar*/
nav{
    width: 100%;
    height: 10%;
    background-color: blueviolet;
    padding: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    z-index: 101;
    
}
.nav-bar{
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    column-gap: 5%;
    margin-left: calc(calc(var(--bodyWidth) - var(--mainWidth))/8);  /*Centers first nav div to the background and main*/
}
.nav-links{
    word-spacing: 5em;
    white-space:nowrap;
}
.page-title{
    margin-left: 40%;
    margin-right:5%;
}
/*Main*/
main{
    width: var(--mainWidth);
    background-color: cornflowerblue;
    margin: auto;
    z-index: 90;
    padding: 2%;

}
/*Headings*/

/*Paragraphs*/
p{
    font-family: 'Times New Roman', Times, serif;
}

/*Footer*/
footer{
    width: var(--mainWidth);
    background-color: black;
    margin: auto;
}

/*Background*/
.bg{
    background-color:darkblue;
    width: 100%;
    height:100%;
}
/*Introduction*/

/*Flexbox 1x3*/
.flexbox-1x3{
    display:flex;
    flex-wrap:nowrap;
    border: 100px;
    border-radius: 100px;
    border-color:fuchsia;
    column-gap: 1%;
    background-color: chocolate;
    padding: 1%;
}
.flexbox-1x3>div{
    background-color: brown;
    margin: auto;
    padding: 2%;
    border-radius: 10px;
}
/*Flexbox 1x4*/

/*Banner*/
