:root {
    --bodyWidth: 100%;
    --mainWidth: 80%;
    --backgroundColor: #212436;
    --mainColor: #2B3E4D;
    --accentColor1: #0E3D69;
    --accentColor2: #075C61;
    --accentColor3: #1C0B3D;
    --accentColor4: #4C0C5E;
    --fontColor: #e1e0e0;
    --fontColor2: #40DB8D;
    --linkColor: #3191ff;
}

/*----------------------Body----------------------*/
body {
    color: var(--fontColor);
    background-color: #1C0B3D;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: var(--bodyWidth);
    z-index: 1;
}

/*----------------------Main----------------------*/
main {
    background-color: var(--backgroundColor);
    margin: auto;
    padding: 2%;
    width: var(--mainWidth);
    z-index: 90;
}

/*----------------------Nav-Bar----------------------*/
nav {
    animation-duration: 750ms;
    animation-name: slide;
    background-color: var(--mainColor);
    /*background-color: rgb(110, 39, 177);*/
    height: clamp(5%, 6%);
    padding: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    position: fixed;
    width: 100%;
    z-index: 101;
}

@keyframes slide {
    from {
        margin-top: -100%;
    }

    to {
        margin-top: 0%;
    }
}

/*----------------------Footer----------------------*/
footer {
    background-color: black;
    margin: auto;
    width: auto;
}

/*----------------------Headings----------------------*/
h1{
    color:var(--fontColor2);
}
h2{
    color: var(--accentColor1);
}
/*----------------------Paragraphs----------------------*/
p {
    font-family: 'Times New Roman', Times, serif;
}

/*----------------------Links----------------------*/
a {
    /*Removes the default styling that CSS applies to links*/
    border-bottom: 0px solid;
    border-bottom-width: 0px;
    border-top: 0px solid;
    border-top-width: 0px;
    font-size: 1em;
    outline: none;
    text-decoration: none;
    transition-duration: 100ms;
    transition-property: border-top-width, border-bottom-width, font-size;
}

a:link {
    /*Styling for links on page*/
    color: var(--linkColor);
}

/* WIP
a:visited{      /Styling for visited links/
    
}*/
a:hover {
    border-bottom: 1px solid;
    border-bottom-width: 3px;
    border-radius: 0%;
    border-top: 1px solid;
    border-top-width: 3px;
    font-size: 1em;
}

a:active {
    color: var(--accentColor2);
}
/*
Make nav-bar transparent
Get rid of background? (the area between body and main)
Make section background colors different to break up the content
*/

/*===============Nav-Bar Classes===============*/
.nav-bar {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 750;
    margin-left: 10%;
}

.nav-div-button {
    margin-right: 5%;
}

.button-hamburger {
    background-color: var(--accentColor2);
    border: 0;
    border-radius: 20%;
    box-shadow: #1C0B3D 3px 3px 5px;
    color: var(--fontColor2);
    font-size: 2em;
    font-weight:900;
    height: 150%;
    transition-duration: 200ms;
    transition-property: box-shadow,background-color;
    width: 150%;
}
.button-hamburger:hover{
    background-color: var(--accentColor1);
    border-radius: 20%;
    cursor: pointer;
}
.button-hamburger:active{
    background-color: var(--accentColor4);
    box-shadow: #1C0B3D 1px 1px 1px;
}

.nav-links {
    /*place-self: center end;*/
    align-content: center;
    margin-right: auto;
    white-space: nowrap;
    /*word-spacing: 5em;*/
}
.nav-links>a{
    left: 100px;        /*Moves the links over an absolute amount*/
    margin-left: auto;
    margin-right: 50%;
    position: relative;
}

.page-title {
    background-color: var(--accentColor2);
    border-radius: 20% 40% 20% 40%;
    box-shadow: #1C0B3D 3px 3px 5px;
    color: var(--fontColor2);
    margin-left: auto;
    margin-right: 20%;
    padding: 0.5em;
    text-shadow: #1C0B3D 5px 3px 10px;
}

/*----------------------Background----------------------*/
/*
.bg {
    background-image: url(../images/bg.svg);
    height: 100%;
    width: 100%;
} */

/*===============Introduction Classes===============*/
.div-intro {
    
    margin: auto;
    width: 90%;
}

.div-intro>h1 {
    padding-top: 10%;
    /*text-shadow: var(--linkColor) 1px 1px 2px;*/
    animation-duration: 1s;
    animation-delay: 1000ms;
    animation-name: introAnim;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes introAnim {
    from {
        border-bottom: 0px solid;
        text-decoration: none;

    }

    to {
        border-bottom: 10px solid;
        text-decoration: underline dotted;
    }
}

.div-intro>div>p {
    background-color: red;
    margin-right: clamp(30%, 50%, 70%);
}

/*----------------------Second Section Classes----------------------*/
.div-second-section {
    margin: auto;
    width: 90%;
}

/*----------------------Flexbox 1x3 Classes----------------------*/
.flexbox-1x3 {
    background-color: var(--mainColor);
    border: 10px;
    border-color: var(--accentColor2);
    border-style: solid;
    border-radius: 100px;
    column-gap: 1%;
    display: flex;
    flex-wrap: nowrap;
    padding: clamp(30px, 1%, 3%);
    /*font-size: 1vw; Experiment with viewport width/height for font*/
}

.flexbox-1x3>div {
    background-color: var(--accentColor2);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--backgroundColor);
    margin: auto;
    padding: clamp(1%, 2%, 3%);
}

/*----------------------Flexbox 1x4 Classes----------------------*/
.flexbox-1x4 {
    background-color: var(--mainColor);
    border: 10px;
    border-color: var(--accentColor2);
    border-style: solid;
    border-radius: 100px;
    column-gap: 1%;
    display: flex;
    flex-wrap: nowrap;
    padding: 1%;
}

.flexbox-1x4>div {
    background-color: var(--accentColor2);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--backgroundColor);
    margin: auto;
    padding: clamp(1%, 2%, 3%);
}

/*----------------------Banner Classes----------------------*/