//=========================================================
//  Intro
//=========================================================
.section__intro{
    background-color: transparent;

    h1{
        border-radius: 100px;
        font-size: 2.2em;
        width: fit-content;
        margin-inline: auto;
        background-color: #0c1020;
        padding: 20px;
    }
}

@media (min-width: 900px) {
    .section__intro{
        h1{
            font-size: clamp(3dvh, 1dvh + 3em, 3dvh + 2em);
        }
    }
}

//=========================================================
//  Body
//=========================================================
.section__body{
    section{
        padding-bottom: 1em;
    }
}

//=========================================================
//  Icons
//=========================================================
@media (max-width: 901px) {
    .icon__top{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }
    
    .icon__bottom{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
