//=========================================================
//  Variables
//=========================================================
//-------------------------
//  Colors                 |
//-------------------------
$dropMenuBGColor: #161B38;
$navBGColor: #161B38;
$navminiBGColor: rgba(22, 27, 56, 0.95);
$navBorderColor: #0C0E0F;
//Button Colors
$navBtnBGColorDefault: #1B304F;
$navBtnBGColorHover: #122036;
$navBtnShadow: #1C0B3D;

//Saved Colors
//$navLinkColor: #4F8CE8;
//231B5C

//-------------------------
//  Duration               |
//-------------------------
$navminiDuration: 300ms;

//Notes
//position and make a truncated version when scrolling down

//=========================================================
//  Nav-Bar
//=========================================================
[class$="nav-bar--mini"] {
    .nav-bar {
        background-color: $navminiBGColor;
        box-shadow: inset 0px -5px 0px $navBorderColor;
        height: 60px;
        position: fixed;
        //transition-duration: $navminiDuration;
        //transition-property: height;
        width: 100%;
    }

    .nav-bar__btn--hamburger {
        scale: 0.85;
        transition-duration: $navminiDuration;
        transition-property: all;
    }

    .nav-bar__link__menu {
        //font-size: 15;

        a {
            //visibility: hidden;
            font-size: 16;
            transition-property: all;
            transition-duration: $navminiDuration;
        }

        span {
            //visibility: visible;
            font-size: 25;
            transition-property: all;
            transition-duration: $navminiDuration;
        }
    }

    .nav-bar__drop-down{
        top: 60px;
    }
}

nav {
    background-color: $navBGColor;
    box-shadow: inset 0px -5px 0px $navBorderColor; //Used to create a pseudo border
    height: 100px;
    position: relative;
    z-index: 101;
    //transition-duration: $navminiDuration;
    //transition-property: height;
}

.nav-bar {
    align-items: center;
    display: flex;
    font-size: 1.2em;
    height: 100px;
    transition-duration: 400ms;
    transition-property: height;
    //background-color: $navBGColor;
    //box-shadow: inset 0px -5px 0px $navBorderColor;

}

//=========================================================
//  Nav-Bar: Btn-Hamburger
//=========================================================
.nav-bar__btn {
    margin-left: 12%;
    margin-right: 5%;
}

.nav-bar__btn--hamburger {
    background-color: $navBtnBGColorDefault;
    border: 0;
    border-radius: 20%;
    box-shadow: inset 2px 0px 4px $insetShadow,
        inset -2px -4px 4px $insetShadow,
        $accentColor3 0px 2px 3px;
    transition-duration: 200ms;
    transition-property: background-color, box-shadow, scale;
    scale: 1;
    width: 4rem;

    &:hover {
        background-color: $navBtnBGColorHover;
        border-radius: 20%;
        cursor: pointer;
    }

    &:active {
        box-shadow:
            inset -1px -1px 4px $insetShadow,
            inset 1px 0px 4px $insetShadow,
            #1C0B3D 0px 1px 1px;
    }

    //Span used by Google Material Icon
    span {
        color: $linkColorDefault;
        font-size: 2rem;
        line-height: 1.5;
        transition-duration: 200ms;
        transition-property: translate;
        translate: 0px 0px;
        width: 100%;

        padding: {
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
        }

        &:active {
            translate: 0px 2.5px;
        }
    }
}

//=========================================================
//  Nav-Bar: Theme Switch
//=========================================================
.nav-bar__theme-switch {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 65px;

    //Removes the default checkbox style
    input {
        height: 0;
        opacity: 0;
        width: 0;
    }

    //This draws the container for the switch
    span {
        background-color: $accentColor2;
        border-radius: 20px;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 300ms;
    }

    span::before {
        background-color: $fontColor1;
        bottom: 6px;
        border-radius: 50%;
        content: "";
        height: 25px;
        left: 6px;
        position: absolute;
        transition: 300ms;
        width: 25px;
    }

    input:checked+span {
        background-color: $accentColor4;
    }

    input:checked+span::before {
        transform: translateX(28px);
    }
}

//=========================================================
//  Nav-Bar: Divider
//=========================================================
.nav-bar__divider {
    //background-color: #0C0E0F;
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
}

//=========================================================
//  Nav-Bar: Links
//=========================================================
.nav-bar__link__menu {
    //align-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    user-select: none;
    white-space: nowrap; //Prevents last item from wrapping

    li {
        display: inline;
        list-style: none;
        padding-bottom: 10px;
        padding-right: 5em;
        position: relative;

        a {
            font-size: 20;
        }

        //Span used by Google Material Icons
        //Centers icons
        span {
            font-size: 1.5em;
            line-height: -10%;
            translate: 0 3px;
        }

        //Used to center the contact icon
        [class="nav-bar__link__item--contact"] {
            span {
                translate: 0 7px;
            }
        }
    }
}

//=========================================================
//  Nav-Bar: Dropdown Menu
//=========================================================
.nav-bar__drop-down {
    background: $dropMenuBGColor;
    bottom: 0px;
    height: auto;
    margin: auto;
    overflow-y: scroll;
    padding: 2%;
    position: fixed;
    scrollbar-width: thin;
    top: 100px;
    transition-duration: 400ms;
    transition-property: opacity;
    user-select: none;
    width: 25%;
    z-index: 1;

    //Emulate the thin scrollbar from Firefox
    &::-webkit-scrollbar{
        background: #16192f;
        height: 12px;
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background: #5f606e;
    }
}

//-------------------------
//  Dropdown Menu: Header  |
//-------------------------
.nav-bar__drop-down__header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

//-----------------------------------------
//  Dropdown Menu: Expand/Collapse Toggle  |
//-----------------------------------------
.nav-bar__drop-down__header__toggle {
    align-self: center;
    font-size: 0.8em;
    margin-right: 20px;
    //background-color: brown;

    label {
        padding: 5px;
        padding-left: 10px;
        padding-top: 0;

        &:hover {
            cursor: pointer;
        }
    }

    //Selects both the container and icon
    span {
        display: inline-flex;
        font-size: 0.9em;
        margin-left: 4px;
        padding: 5px;
    }

    //Selects only the span for the container and not icon
    &>span {
        background-color: $navBtnBGColorDefault;
        border-radius: 20px;
        box-shadow: $navBtnShadow 0px 3px 1px;
        color: $linkColorDefault;
        margin-right: 25px;
        padding: 0;
        transition-duration: 200ms;
        transition-property: background-color, box-shadow, translate;

        &:active {
            box-shadow: $navBtnShadow 0px 0px 0px;
            translate: 0px 3px;
        }

        &:hover {
            background-color: $navBtnBGColorHover;
            cursor: pointer;
        }
    }

    [class="material-symbols-rounded"] {
        background-color: $transparent;
        font-size: 1.3em;
        translate: -4px 3px;
    }
}

//---------------------------
//  Dropdown Menu: Btn Exit  |
//---------------------------
.nav-bar__drop-down__btn--exit {
    background-color: $navBtnBGColorDefault;
    border-radius: 20%;
    border: 0;
    box-shadow: $navBtnShadow 0 5px 1px;
    display: block;
    line-height: 0%;
    margin-left: auto;
    padding: 0;
    transition-duration: 200ms;
    transition-property: background-color, box-shadow, translate;

    &:active {
        box-shadow: $navBtnShadow 0 0px 1px;
        translate: 0px 2.5px;
    }

    &:hover {
        background-color: $navBtnBGColorHover;
        cursor: pointer;
    }

    span {
        color: $linkColorDefault;
        font-size: 3rem;
    }
}

//-------------------------
//  Dropdown Menu: Sub     |
//-------------------------
.nav-bar__drop-down__sub {
    display: block;
    padding-bottom: 20px;
    position: relative;
    //white-space: nowrap;
}

.nav-bar__drop-down__header__toggle {
    color: #3191ff;
}

//Span that holds the subsection title and Material Icons
.nav-bar__drop-down__sub__span {

    label {
        border: 0;
        color: $linkColorDefault;
        transition-duration: 300ms;
        transition-property: border, color;

        border: {
            style: solid;
            color: $linkColorDefault;
            bottom-width: 1px;
            bottom-left-radius: 0%;
        }

        &:hover {
            color: $linkColorHover;
            cursor: pointer;
            transition-duration: 100ms;
            transition-property: border, color, rotate;

            border: {
                bottom-left-radius: 0%;
                bottom-width: 3px;
                color: $linkColorHover;
                style: solid;
            }

            &~span {
                //Duration also effects the rotate transition for arrow toggle classes
                color: $linkColorHover;
                transition-duration: 100ms;
                transition-property: border, color, rotate;
            }
        }
    }

    //Span used by Google Material Icons
    span {
        color: $linkColorDefault;
        translate: 0 8px; //Centers icon
    }
}

.nav-bar__drop-down__sub__content__list {
    list-style: none;

    li {
        padding-bottom: 10px;
    }
}

//-------------------------
//  Dropdown Menu: Footer  |
//-------------------------
.nav-bar__drop-down__footer {
    //bottom: 10px;

    //About Section Link
    a {
        display: inline;
        font-size: 0.75em;
    }

    //Empty div to shift the footer down and retain dynamic resizing 
    div {
        height: 100px;
        width: 100%;
    }

    //Material Icon
    span {
        font-size: 1.5em;
        margin-bottom: 10px;
        translate: 0 3px; //Moves down Material Icon
    }
}

.nav-bar__drop-down__footer__break {
    //Creates the divider from subsections to footer
    background-color: $dropdownColorBG;
    box-shadow:
        inset 0px 2px 2px 0px $insetShadow,
        inset -0px -2px 2px 0px $insetShadow,
        black 0px 0px 1px;
    display: inline-block;
    height: 5px;
    width: 100%;
}

//=========================================================
//  Nav-Bar: Events
//=========================================================
//-------------------------
//  Events: Hidden/Visible |
//-------------------------
.--hidden {
    right: 100%;
    transition-duration: 300ms;
    transition-property: right;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.--visible {
    right: 75%;
    transition-duration: 300ms;
    transition-property: right;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

//---------------------------
//  Events: Main Window      |
//---------------------------
.--undarken {
    &::before {
        animation-delay: 200ms;
        animation-duration: 200ms;
        animation-fill-mode: forwards;
        animation-name: main-overlay-ani;
        background-color: #000000;
        content: '';
        display:block;
        height: 100%;
        opacity: 0;
        position:fixed;
        transform: translateY(-100px); //Shifts the overlay up to accommodate for mini nav bar size change
        transition-duration: 200ms;
        transition-property: opacity;
        transition-timing-function: ease-out;
        width: 100%;
        z-index: 100;

        @keyframes main-overlay-ani {
            from {
                height: 100%;
            }
            to {
                height: 0;
            }
        }
    } 
}

.--darken {
    &::before {
        background-color: #000000;
        content: '';
        display:block;
        height: 100%;
        opacity: 0.6;
        position:fixed;
        transform: translateY(-100px); //Shifts the overlay up to accommodate for mini nav bar size change
        transition-duration: 200ms;
        transition-property: opacity;
        transition-timing-function: ease;
        width: 100%;
        z-index: 100;
    }
}

.--scroll{
    overflow: visible;
}

.--scroll-block{
    overflow: hidden;
}

//--------------------------
//  Events: Expand/Collapse |
//--------------------------
[class$="--sub-collapse"] {
    height: 10px;
    overflow: hidden;
    width: 0%;

    transition: {
        duration: 150ms;
        property: all;
        timing-function: ease-in;
    }
}

[class$="--sub-expand"] {
    //Keep in mind that the height here controls the sub content height
    height: 140px;
    overflow: hidden;
    width: 100%;

    transition: {
        duration: 150ms;
        property: all;
        timing-function: ease-in;
    }
}

//------------------------------
//  Events: Arrow Expand        |
//------------------------------
//Duration for both is under the span/label transition
[class$="--expand-more"] {
    rotate: (0deg);
    transition-property: all;
    transition-duration: 100ms;
}

[class$="--expand-less"] {
    rotate: (180deg);
    transition-property: all;
    transition-duration: 100ms;
}

//-------------------------
//  Events: Grey-out       |
//-------------------------
//Expand/Collapse Grey-out
.--active {
    //filter:grayscale(0);
}

.--nonactive {
    //filter:grayscale(100%);
}
