$backgroundColor: #2b3463;
$boxBackgroundColor: #20274A;
$borderColor: #0c1020;
$borderRadius: clamp(1dvw, 1em, 2dvw);

main{
    background-color: $borderColor;
}

header{
    background-color: $backgroundColor;
}

article{
    background-color: $backgroundColor;
    
}

.section-1{
    background-color: $backgroundColor;
}

.section-2{
    border-width: max(40px, 4dvh);
    border-color: $borderColor;
    border-style: solid;
    background-color: $boxBackgroundColor;
    border-radius: $borderRadius;
    padding: max(20px, 2dvh);
    margin-top: max(50px, 5dvh);
}
.page-nav{
    margin-top: 0;
    margin-bottom: 0;
}
