<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="../src/styles/main.scss">
    <link rel="stylesheet" href="../radio-button/radio-button.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
</head>

<body>
    <main>
        <!--Theme switch from dark to light-->
        <div role="group">
            <label class="nav-bar__theme-switch" role="menuitem">
                <input class="theme-switch__input" type="checkbox" role="switch">
                <span class="theme-switch__slider"></span>
            </label>
        </div>
    </main>
</body>

</html>
