$backgroundColor: #2b3463;
$borderRadius: clamp(1dvw, 1em, 2dvw);
$borderColor: #0c1020;
$boxBackgroundColor: #20274A;
$headingColor: #80C24A;
$borderWidth: max(10px, 1dvh);

body{
    background-color:#141415;
    width: auto;
    height: auto;
}

h1,
h2,
h3{
    color: $headingColor;
}

h3{
    font-size: 15px;
}

header{
    margin-inline: auto;
    width: fit-content;
}

.code{
    background-color: $boxBackgroundColor;
    border-radius: $borderRadius;

}

.code__labels{
    display: flex;

    :nth-child(1){
        margin-left: 10%;
        margin-right: auto;
    }
    :nth-child(2){
        margin-left: auto;
        margin-right: 5%;
    }
}

.input-output__wrapper{
    background-color: $borderColor;
    padding: $borderWidth;
    display: flex;
    height: 300px;
    border-radius: $borderRadius;  
}

.input{
    margin-left: 0;
    margin-right: auto;
    background-color:#24252a;
    padding: 1em;
    width: fit-content;
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    display: flex;
    color: #e1e0e0;
}

.input--css{
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
    padding-top: 0;
    scrollbar-width:thin;
}

.output{
    margin-left: auto;
    margin-right: 0;
    background-color: $boxBackgroundColor;
    padding: 1em;
    border-bottom-right-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    width: 15%;
    
    >*{
        margin-inline: auto;
        display: block;
    }
}

.element{
    display: flex;
}

.element__tag{
    color: rgb(153, 153, 201);
}

.element__attribute{
    color: #c1bf56;
}

.element__attribute__value{
    color: #cc985d;
}

.css__selector{
    color: #c1bf56;
}

.css__style{
    color: rgb(153, 153, 201);
}

.css__style__value{
    color: #cc985d;
}
