//=========================================================
//  Footer Classes
//=========================================================
$footerBGColor: #181D1F;
$footerColor: #000000;
$footerFontColor: #828d91;

.footer {
    background-color: $footerBGColor;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    width: 80%;
    font-size: clamp(1em, 1dvh + 0.3em, 5dvh);

    //Removes the link styling
    a {
        border-color: $footerFontColor;

        &:hover {
            color: $footerFontColor;
            border-color: $footerFontColor;
        }
    }
}

.footer__flex {
    display: flex;
    flex-wrap: nowrap;
}

.footer__col {
    align-self: center;
    color: $footerFontColor;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.--footer-col-1 {
    white-space: nowrap;

    span {
        padding-left: 2em;
    }
}

.--footer-col-2 {
    text-align: center;
}

.--footer-col-3 {
    text-align: end;
}

.footer__divider--top {
    background-color: $footerFontColor;
    border-radius: 10px;
    display: block;
    height: max(1px, 0.1dvh);
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.footer__divider--side {
    align-self: center;
    background-color: $footerFontColor;
    border-radius: 10px;
    display: block;
    height: 10em;
    width: 0px;
}

//-------------------------
//  Media Queries          |
//-------------------------
@media screen and (width < 720) {
    .footer__flex{
        flex-wrap: wrap;
    }

    .footer__col{
        text-align: center;
        width: fit-content;
    }

    .--footer-col-1 {
        display: grid;
        row-gap: 30px;
        span {
            padding-left: 0;
        }
    }
}
