//=========================================================
//  Footer Classes
//=========================================================
$footerBGColor: #181D1F;
$footerColor: #000000;
$footerFontColor: #828d91;

.footer {
    background-color: $footerBGColor;
    //background-color:rgb(28, 26, 26);
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    width: 80%;
    font-size: clamp(1em, 1dvh + 0.3em, 5dvh);

    //Removes the link styling
    a {
        border-color: $footerFontColor;

        &:hover {
            color: $footerFontColor;
            border-color: $footerFontColor;
        }
    }
}

.footer__flex {
    display: flex;
    flex-wrap: nowrap;
    //background-color: #075C61;
}

.footer__col {
    align-self: center;
    color: $footerFontColor;
    display: block;
    //background-color: rgb(28, 26, 26);
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.--footer-col-1 {
    //background-color: #40DB8D;

    span {
        padding-left: 2em;
    }
}

.--footer-col-2 {
    text-align: center;
}

.--footer-col-3 {
    text-align: end;
}

.footer__divider--top {
    background-color: $footerFontColor;
    border-radius: 10px;
    display: block;
    height: max(1px, 0.1dvh);
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.footer__divider--side {
    align-self: center;
    background-color: $footerFontColor;
    border-radius: 10px;
    display: block;
    height: 10em;
    width: 0px;
}
