<!DOCTYPE html>
<html lang="en" , dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="../footer/_footer_style.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
</head>

<body>

</body>

<footer role="contentinfo">
    <div class="footer --unblur">
        <div role="presentation" class="footer__divider--top"></div>
        <div class="footer__flex">
            <div class="footer__col --footer-col-1">
                <span><a href="../src/about.html">About / Licenses</a></span>
                <span><a href="../src/site-map.html">Site Map</a></span>
            </div>
            <div role="presentation" class="footer__divider--side"></div>
            <div class="footer__col --footer-col-2">
                <p>Made With &#10084</p>
            </div>
            <div role="presentation" class="footer__divider--side"></div>
            <div class="footer__col --footer-col-3">
                <p>&#169 2023</p>
                <p>Designed and Built by Collin Geersen</p>

            </div>
        </div>
    </div>
</footer>

</html>
