$backgroundColor: #2b3463;
$borderRadius: clamp(1dvw, 1em, 2dvw);
$borderColor: #0c1020;
$boxBackgroundColor: #20274A;
$borderWidth: max(5px, 0.5dvh);

.section-4{
    background-color: $borderColor;
    border-radius: $borderRadius;
    margin-bottom: 2dvh;
    margin-inline: auto;
    margin-top: 10dvh;
    padding: 2%;
    width: 90%;
}

.section-4__content{
    align-items: center;
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(1em, 2dvh, 5dvh);
    margin-inline: auto;
    padding: 2%;
    width: fit-content;

    >div{
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        margin-inline: auto;
        width: fit-content;

        h3{
            margin-left: 1em;
            margin-right: 1em;
        }
        p{
            margin-right: 2em;
            text-align: right;
        }
    }

    a{
        background-color: #2b3463;
        border-color: $borderColor;
        border-radius: 20em;
        border-style: solid;
        border-width: $borderWidth;
        height: min-content;
        margin-inline: auto;
        padding: 20px;
        text-align: center;
        text-wrap: nowrap;
        transition-duration: 200ms;
        transition-property: background-color;
        width: max-content;

        &:hover{
            background-color: $borderColor;
            transition-property: background-color;
            transition-duration: 200ms;
        }
    }
}
