//=========================================================
//  Homepage- Section 3
//=========================================================
//-------------------------
//  Variables              |
//-------------------------
//Colors
$boxBackgroundColor: #20274a;
$backgroundColor: #2b3463;
$borderColor: #0c1020;

$headingColor:white;
$paragraphColor:white;

.section-3 {
    background-color: $borderColor;
    border-radius: 3dvh;
    margin-inline: auto;
    padding: 3dvh;
    width: max(60dvh, 70%);
}

.section-3__container {
    background-color: $backgroundColor;
    border-radius: 3dvh;
    padding: 3dvh;

    h3 {
        background-color: #0c1020;
        border-radius: 1dvh;
        font-size: clamp(1em, 2.5dvh, 8dvh);
        padding: 1em;
        text-align: center;
    }

    p {
        font-size: clamp(1em, 2dvh, 5dvh);
        text-align: center;
    }

    span{
        background-color: #0c1020;
        display: block;
        height: 0.1em;
        margin-bottom: 1em;
        margin-inline: auto;
        margin-top: 1em;
        width: 60%;
    }
}
.section-3__container__header{
    background-color: $boxBackgroundColor;
    border-color: $borderColor;
    border-radius: 100em;
    border-style: solid;
    border-width: 5px;
}

.section-3__container__header__title {
    font-size: clamp(2em, 4dvh, 10dvh);
    margin-inline: auto;
    text-align: center;
}

.section-3__container__box {
    column-gap: 1dvw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2dvh;
    row-gap: 1dvh;

    //Adds staggered delay to the scroll transition for the second and fourth content cards
    div:nth-child(2),
    div:nth-child(4){
        transition-delay: 500ms;
        animation-delay: 500ms;
    }
}

.section-3__container__box__card {
    background-color: $boxBackgroundColor;
    border-color: $borderColor;
    border-radius: 2dvh;
    border-style: solid;
    border-width: 0.3em;
    box-shadow: inset 0 2dvh 0px black;
    padding: 1em;
    width: min(30dvh, 400px);
    
    a:focus{
        outline: auto;
    }
}

.section-3__container__box__card--content {
    display: block;

    //Used to fix hover styling conflict for link
    @mixin section-3__container__box__card--content__border{
        border-color: $borderColor;
        border-radius: 10dvh;
        border-style: solid;
        border-width: 0.2em;
    }
    a{
        @include section-3__container__box__card--content__border;
        background-color:#2b3463;
        box-shadow: 0 0 0 $borderColor;
        display: flex;
        font-size: clamp(1em, 1.75dvh, 4dvh);
        margin-inline: auto;
        padding: 0.75em;
        text-align: center;
        transition-duration: 200ms;
        transition-property: box-shadow, translate;
        translate: 0;
        width: fit-content;
    
        &:hover{
            @include section-3__container__box__card--content__border;
            box-shadow: 0 0.4em 0 $borderColor;
            transition-duration: 200ms;
            transition-property: box-shadow, translate;
            translate: 0 -0.4em;
        }
    }
}

@media screen and (width < 540) {
    .section-3 {
        margin-inline: auto;
        width: 90%;
    }
    .section-3__container__header{
        border-radius: 1em;
        margin-inline: auto;
        padding: 10px;
        width: 80%;
    }
}
