//=========================================================
//  Homepage- Section 1
//=========================================================
//-------------------------
//  Variable               |
//-------------------------
//
//  Height/Width
//''''''''''''''
$borderRadius: clamp(1dvw, 1em, 2dvw);
$separatorHeight: 4dvh;
$separatorNotchHeight: 70px;
//
//  Colors
//''''''''
$backgroundColor: #2b3463;
$borderColor: #0c1020;
$boxBackgroundColor: #20274A;
//  Colors: GitHub
$githubHoverColor: #3F6321;
$githubIconBackgroundColor: white;
$githubUnderlineColor: #3F6321;
//
//  Animation Timings
//'''''''''''''''''''
//  Animation Timings: Greeting
$introGreetingDelay: 1000ms;
$introGreetingFrameDelay: $introGreetingDelay+700ms;
$introGreetingAccentDelay: $introGreetingFrameDelay+700ms;
//  Animation Timings: Content
$introContent_AnimDelay: $introGreetingFrameDelay+800ms;
$introContent_AnimDuration: 1000ms;
$introNote_AnimDelay: $introContent_AnimDelay+1200ms;

//=========================================================
//  Section-1
//=========================================================
.section-1 {
    background-color: $borderColor;
    border-color: $borderColor;
    border-style: solid;
    border-width: 20px;
    border-bottom: 0;
    font-size: 1.5em;
    margin: auto;
    overflow: hidden;
    position: relative;
}

@media (min-width: 900px) {
    .section-1 {
        border-width: $separatorHeight;
    }
}

//=========================================================
//  Header
//=========================================================
.section-1__header {
    background-color: $backgroundColor;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    display: flex;
}

@media (min-width: 900px) {
    .section-1__header {
        padding-left: clamp(2dvh, 3dvh, 5dvh);
    }
}
//=========================================================
//  Github Link
//=========================================================
//  GitHub Link- Mixin
@mixin githubLink_Transition {
    background-color: $githubUnderlineColor;
    content: '';
    display: block;
    height: 0.5vh;
    transition-duration: 300ms;
    transition-property: all;
}

//
.section-1__header__github-link {
    background-color: $boxBackgroundColor;
    border-bottom-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    box-shadow: $borderColor 3px 5px;
    height: fit-content;
    margin-left: auto;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 30px;

    h3 {
        font-size: 13px;
        display: block;
        margin-inline: auto;
    }

    //Github Logo
    img {
        background-color: $githubIconBackgroundColor;
        border-radius: 100px;
        display: block;
        height: 40px;
        margin-inline: auto;
        padding: 3px;
    }

}

@media (min-width: 900px) {
    .section-1__header__github-link {
        box-shadow: $borderColor clamp(0.2dvh, 0.7dvh, 1dvh) clamp(0.2dvh, 0.7dvh, 1dvh);
        padding: clamp(0.2em, 0.5em, 1em);
        padding-bottom: 0;
        padding-top: clamp(0.4em, 1.5em, 4em);
        transition-duration: 250ms;
        transition-property: box-shadow, translate;
    
        &:hover {
            box-shadow: $borderColor clamp(0.5dvh, 1.2dvh, 1.4dvh) clamp(0.5dvh, 1.2dvh, 1.4dvh);
            cursor: pointer;
            transition-duration: 300ms;
            transition-property: box-shadow, translate;
            translate: -0.5dvh -0.5dvh;
            user-select: none;
        }
    
        &:focus {
            outline: auto;
        }
    
        h3 {
            font-size: clamp(1dvw, 0.75dvw + 1em, 1dvw);
            display: block;
            margin-inline: auto;
    
            //Initial underline for Github link
            &::after {
                @include githubLink_Transition;
                width: 0;
            }
        }
    
        &:hover>h3 {
            color: $githubHoverColor;
    
            //End state underline for Github link
            &::after {
                @include githubLink_Transition;
                width: 100%;
            }
        }
    
        //Github Logo
        img {
            background-color: $githubIconBackgroundColor;
            border-radius: 10dvh;
            display: block;
            height: clamp(3dvw, 1dvw + 2em, 8dvw);
            margin-inline: auto;
            padding: 0.2dvh;
            transition-duration: 300ms;
            transition-property: scale;
        }
    
        &:hover>img {
            scale: 1.2;
            transition-duration: 300ms;
            transition-property: scale;
        }
    }
}

//=========================================================
//  Summary
//=========================================================
.section-1__summary {
    background-color: $backgroundColor;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    padding-bottom: 3em;
}

//=========================================================
//  Summary- Greeting
//=========================================================
.section-1__summary__greeting {
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-inline: auto;

    //Container that wraps the divs
    >div {
        display: grid;
        grid-template-columns: auto auto;
        margin-inline: auto;

        div {
            height: fit-content;
            overflow: hidden;

            //Fixes width for the im heading
            &:nth-child(2) {
                width: fit-content;
            }
        }
    }
}

@media (min-width: 900px) {
    .section-1__summary__greeting {
        padding-top: 4dvh;
    }
}

//-------------------------
//  Greeting- Heading      |
//-------------------------
.section-1__summary__greeting__heading {
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-name: section-1__summary__greeting__heading--Animation;
    margin: 0;
    padding: 0.1em;
    translate: 0 20dvh;
    font-size: 1.5em;

    @keyframes section-1__summary__greeting__heading--Animation {
        from {
            translate: 0 20dvh;
        }

        70% {
            translate: 0 -10px;
            text-shadow: 0 10px 0 black;
        }

        to {
            translate: 0 0;
            text-shadow: 0 0 0 black;
        }
    }
}

@media (min-width: 900px) {
    .section-1__summary__greeting__heading {
        animation-duration: 800ms;
        animation-fill-mode: forwards;
        animation-name: section-1__summary__greeting__heading--Animation;
        font-size: clamp(1dvh, 10dvh, 15dvh);
        margin: 0;
        padding: 0.1em;
        translate: 0 20dvh;
    
        @keyframes section-1__summary__greeting__heading--Animation {
            from {
                translate: 0 20dvh;
            }
    
            70% {
                translate: 0 -2dvh;
                text-shadow: 0 1dvh 0 black;
            }
    
            to {
                translate: 0 0;
                text-shadow: 0 0 0 black;
            }
        }
    }
}

//-------------------------
//  Greeting- Animation    |
//-------------------------
.section-1__summary__greeting--hello {
    h2 {
        animation-delay: $introGreetingDelay;
    }
}

.section-1__summary__greeting--im {
    h2 {
        animation-delay: $introGreetingDelay+200ms;
    }
}

.section-1__summary__greeting--collin {
    h2 {
        animation-delay: $introGreetingDelay+400ms;
    }
}

//-------------------------
//  Greeting- Avatar       |
//-------------------------
.section-1__summary__greeting--avatar {
    animation-delay: $introGreetingDelay+1000ms;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-name: section-1__summary__greeting--avatar--Animation;
    margin-right: 5%;
    opacity: 0;
    translate: 0 100px;

    @keyframes section-1__summary__greeting--avatar--Animation {
        from {
            opacity: 0;
            translate: 0 100px;
        }

        to {
            opacity: 1;
            translate: 0;
        }
    }

    svg {
        height: 150px;
        padding: 10px;
        width: 150px;

        //Animates the arm to wave
        #arm-1 {
            animation-name: collinArm--Animation;
            animation-iteration-count: infinite;
            animation-duration: 750ms;

            @keyframes collinArm--Animation {
                from {
                    rotate: 0deg;
                    translate: 0;
                }

                50% {
                    rotate: 4deg;
                    translate: 3px;
                }

                to {
                    rotate: 0deg;
                    translate: 0;
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .section-1__summary__greeting--avatar {
        svg {
            height: 20dvh;
            width: 20dvh;
        }
    }
}

//=========================================================
//  Summary- Content
//=========================================================
.section-1__summary__content {
    align-items: center;
    animation-delay: $introContent_AnimDelay;
    animation-duration: $introContent_AnimDuration;
    animation-fill-mode: both;
    animation-name: section-1__summary__content--loadAnimation;
    animation-timing-function: linear;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    @keyframes section-1__summary__content--loadAnimation {
        from {
            opacity: 0;
            translate: 0px 2dvh;
        }

        to {
            opacity: 1;
            translate: 0px 0px;
        }
    }
}

@media (min-width: 900px) {
    .section-1__summary__content {
        display: flex;
    }
}

//-------------------------
//  Summary- Heading       |
//-------------------------
.section-1__summary__content__heading {
    background-color: $borderColor;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    font-size: 25px;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    text-align: center;
}

@media (min-width: 900px) {
    .section-1__summary__content__heading {
        border-radius: 0;
        border-bottom-right-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
        font-size: clamp(2dvh, 4dvh, 6dvh);
        margin: 0;
        margin-right: -10px;
        padding: 2dvh;
        rotate: 180deg;
        writing-mode: vertical-lr;
    }
}

//-------------------------
//  Summary- Text          |
//-------------------------
.section-1__summary__content__text {
    background-color: $boxBackgroundColor;
    border-color: $borderColor;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    border-style: solid;
    border-width: 10px;
    border-top-width: 0;
    display: block;
    font-size: 20px;
    margin-inline: auto;
    padding: 30px;
    padding-top: 10px;
    width: 80%;
    word-wrap: break-word;

    p {
        line-height: 1.5em;
    }
}

@media (min-width: 900px) {
    .section-1__summary__content__text {
        font-size: clamp(2.5dvh, 1dvh + 1rem, 3.5dvh);
        border-width: 10px;
        border-radius: $borderRadius;
        margin: 0;
        padding: 3dvh;
        padding-top: 1dvh;
        width: 60%;
    }
}

//=========================================================
//  Summary- Note
//=========================================================
.section-1__summary__note {
    animation-delay: $introNote_AnimDelay;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-name: intro__summary__note--fallbackAnimation;
    margin-inline: auto;
    opacity: 0;
    text-align: center;
    width: 80%;

    @keyframes intro__summary__note--fallbackAnimation {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    //Select the first outer div
    div {
        background-color: $borderColor;
        border-radius: $borderRadius;
        display: flex;
        flex-wrap: wrap-reverse;
        margin-inline: auto;
        padding: 12px;
        width: fit-content;
    }
}

@media (min-width: 900px) {
    .section-1__summary__note {

        //Select the first outer div
        div {
            padding: 2.5dvh;
            display: grid;
            grid-template-columns: auto auto;
            width: min-content;
        }
    }
}

//-------------------------
//  Note- Text             |
//-------------------------
.section-1__summary__note__text {
    display: block;
    width: 80%;

    p {
        background-color: $boxBackgroundColor;
        border-color: #3F6321;
        border-radius: $borderRadius;
        border-style: solid;
        border-width: 0.5rem;
        font-size: 0.8em;
        line-height: 1.3em;
        padding: 20px;
        text-align: center;

        //Highlight of text
        span {
            color: rgb(219, 75, 75);
        }
    }
}

@media (min-width: 900px) {
    .section-1__summary__note__text {
        margin-left: 3.5dvh;
        margin-right: 4.6dvh;
    
        p {
            font-size: clamp(3dvh, 1dvh + 1.2rem, 3.5dvh);
            line-height: clamp(3.3dvh, 2dvh + 1.3rem, 4.5dvh);
            padding: 2dvh;
            text-align: right;
        }
    }
}

//-------------------------
//  Note- Heading          |
//-------------------------
.section-1__summary__note__heading {
    align-self: center;
    display: block;
    margin-inline: auto;

    //Note Title
    h3 {
        background-color: $boxBackgroundColor;
        border-radius: $borderRadius;
        border-style: solid;
        border-width: 0.5rem;
        border-color: #3F6321;
        color: #80C24A;
        font-size: 1em;
        padding: 15px;
        margin-bottom: 0px;
    }
}

@media (min-width: 900px) {
    .section-1__summary__note__heading {
    
        //Note Title
        h3 {
            font-size: clamp(4dvh, 1dvh + 1rem, 5dvh);
            padding: 2dvh;
            padding-bottom: 4dvh;
            padding-top: 4dvh;
            writing-mode: vertical-lr;
        }
    }
}
