//=========================================================
//  Variables
//=========================================================
$borderRadius: clamp(1dvw, 1em, 2dvw);
//-------------------------
//  Heights                |
//-------------------------
$separatorHeight: 4dvh;
$separatorNotchHeight: 70px;
//-------------------------
//  Colors                 |
//-------------------------
$backgroundColor: #161B38;
$mainBorderColor: #0C0E0F;
$boxBackgroundColor: #1B304F;

//Github Colors
$githubBorderColor: #0C0E0F;
$githubUnderlineColor: #9CF757;
$githubIconBGColor: white;


//Saved Colors
//181D1F
//1F1D1C
//161B38
//223138
//424B85
//424C85
//0C0E0F
//314185
//53852D
//#211B4

//Delay for intro animation
$introGreetingDelay: 1000ms;
$introGreetingFrameDelay: $introGreetingDelay+700ms;
$introGreetingAccentDelay: $introGreetingFrameDelay+700ms;

$introContent_AnimDelay: $introGreetingFrameDelay+800ms;
$introContent_AnimDuration: 1000ms;
$introNote_AnimDelay: $introContent_AnimDelay+800ms;

//=========================================================
//  Intro
//=========================================================
.intro {
    background-color: $mainBorderColor;
    border: solid $mainBorderColor $separatorHeight;
    border-bottom: 0;
    font-size: 1.5em;
    margin: auto;
    overflow: hidden;
    position: relative;
}

//=========================================================
//  Header
//=========================================================
.intro__header {
    background-color: $backgroundColor;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    display: flex;
    padding-left: clamp(2dvh, 3dvh, 5dvh);
}

.intro__header__title {
    animation-duration: 800ms;
    animation-name: intro__header__title-load-animation;
    background-color: $boxBackgroundColor;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    font-size: clamp(2.5dvw, 3em, 2.5dvw);
    height: min(2em, 5em);
    margin-top: 0;
    padding: min(0.5em, 1em);

    @keyframes intro__header__title-load-animation {
        from {
            translate: 0 -13dvw;
        }

        to {
            translate: 0 0dvw;
        }
    }
}

//=========================================================
//  Github Link
//=========================================================
@mixin githubLink_Transition {
    background-color: $githubUnderlineColor;
    content: '';
    display: block;
    height: 0.5vh;
    transition-duration: 300ms;
    transition-property: all;
}

.intro__header__github-link {
    background-color: $boxBackgroundColor;
    border-bottom-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    box-shadow: $githubBorderColor clamp(0.2dvh, 0.7dvh, 1dvh) clamp(0.2dvh, 0.7dvh, 1dvh);
    height: fit-content;
    margin-left: auto;
    padding: clamp(0.2em, 0.5em, 1em);
    padding-bottom: 0;
    padding-top: clamp(0.4em, 1.5em, 4em);
    transition-duration: 250ms;
    transition-property: box-shadow, translate;

    h3 {
        font-size: clamp(1dvw, 0.75dvw + 1em, 1dvw);
        display: block;
        margin-inline: auto;

        //Initial underline for Github link
        &::after {
            @include githubLink_Transition;
            width: 0;
        }
    }

    img {
        background-color: $githubIconBGColor;
        border-radius: 10dvh;
        display: block;
        height: clamp(3dvw, 1dvw + 2em, 8dvw);
        margin-inline: auto;
        padding: 0.2dvh;
        transition-duration: 300ms;
        transition-property: scale;
    }

    &:hover {
        box-shadow: $githubBorderColor clamp(0.5dvh, 1.2dvh, 1.4dvh) clamp(0.5dvh, 1.2dvh, 1.4dvh);
        cursor: pointer;
        transition-duration: 300ms;
        transition-property: box-shadow, translate;
        translate: -0.5dvh -0.5dvh;
        user-select: none;

        h3 {
            color: #9CF757;

            //End state underline for Github link
            &::after {
                @include githubLink_Transition;
                width: 100%;
            }
        }

        //Github Logo
        img {
            scale: 1.2;
            transition-duration: 300ms;
            transition-property: scale;
        }
    }
}

//=========================================================
//  Summary
//=========================================================
.intro__summary {
    background-color: $backgroundColor;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
}

.intro__summary__greeting {
    display: flex;
    align-items: center;
    padding-top: 4dvh;
    margin-right: auto;
    margin-left: auto;

    >div {
        display: grid;
        grid-template-columns: auto auto;
        margin-inline: auto;
        
        div{
            height: fit-content;
            overflow: hidden;
            
            &:nth-child(2){
                width: fit-content;
            }
        }


        
    }
}

.intro__summary__greeting__heading {
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-name: intro__summary__greeting__heading-animation;
    background-color: $boxBackgroundColor;
    font-size: clamp(1dvh, 10dvh, 15dvh);
    margin: 0;
    padding: 0.1em;
    translate: 0 20dvh;

    @keyframes intro__summary__greeting__heading-animation {
        from {
            translate: 0 20dvh;
        }

        70% {
            translate: 0 -2dvh;
            text-shadow: 0 1dvh 0 black;
        }

        to {
            translate: 0 0;
            text-shadow: 0 0 0 black;
        }
    }
}

//-------------------------
//  Greeting Animation     |
//-------------------------
.intro__summary__greeting--hello {
    border-top-left-radius: $borderRadius;
    h2 {
        animation-delay: $introGreetingDelay;
    }
}

.intro__summary__greeting--im {
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    h2 {
        animation-delay: $introGreetingDelay+200ms;
    }
}

.intro__summary__greeting--collin {
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    h2 {
        animation-delay: $introGreetingDelay+400ms;
    }
}

.intro__summary__greeting--avatar{
    animation-delay: $introGreetingDelay+400ms;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-name: intro__summary__greeting--avatar-animation;
    background-color: #9CF757;
    border-radius: $borderRadius;
    border-top-left-radius: 0;
    opacity: 0;
    translate: 0 100px;

    @keyframes intro__summary__greeting--avatar-animation {
        from{
            opacity: 0;
            translate: 0 100px;
        }
        to{
            opacity: 1;
            translate: 0;
        }
    }
}

//-------------------------
//  Summary Content        |
//-------------------------
.intro__summary__content {
    //background-color: lightblue;
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    animation-delay: $introContent_AnimDelay;
    animation-duration: $introContent_AnimDuration;
    animation-fill-mode: both;
    animation-name: intro__summary__content-load-animation;
    animation-timing-function: linear;

    @keyframes intro__summary__content-load-animation {
        from {
            opacity: 0;
            translate: 0px 2dvh;
        }

        to {
            opacity: 1;
            translate: 0px 0px;
        }
    }
}

.intro__summary__content__heading {
    background-color: #9CF757;
    border-bottom-right-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    height: 40dvh;
    margin: 0;
    padding-left: 2dvh;
    padding-right: 2dvh;
    text-align: center;
    writing-mode: vertical-lr;
    rotate: 180deg;
    font-size: clamp(2dvh, 4dvh, 6dvh);
}

.intro__summary__content__text {
    background-color: $boxBackgroundColor;
    border-bottom-right-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    font-size: clamp(2.5dvh, 1dvh + 1rem, 3.5dvh);
    height: clamp(30dvh, 40dvh, 50dvh);
    margin: 0;
    padding: 3dvh;
    width: 40dvw;
}

//-------------------------
//  Note                   |
//-------------------------
.intro__summary__note {
    height: 40dvh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30dvw;
    word-wrap: break-word;

    //Select the first outer div
    >div {
        animation-delay: $introNote_AnimDelay;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
        animation-name: intro__summary__note-fallback-animation;
        background-color: #0C0E0F;
        display: flex;
        //height: 0;
        opacity: 0;
        translate: 0 60dvh;

        @keyframes intro__summary__note-fallback-animation {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}

.intro__summary__note__text {
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    //Note Content
    p {
        background-color: #000000;
        font-size: clamp(3dvh, 1dvh + 1.2rem, 3.5dvh);
        line-height: clamp(3.3dvh, 2dvh + 1.3rem, 4.5dvh);
        margin-left: 3.5dvh;
        margin-right: 4.6dvh;
        opacity: 0;
        padding: 2dvh;
        text-align: right;
        width: 20dvw;
        translate: 2dvh;

        //Highlight of text
        span {
            background-color: #161B38;
        }
    }
}

.intro__summary__note__title {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;

    //Note Title
    h3 {
        background-color: #000000;
        border-radius: 5dvh;
        font-size: clamp(4dvh, 1dvh + 1.5rem, 5dvh);
        margin: auto;
        opacity: 0;
        padding: 2dvh;
        padding-bottom: 4dvh;
        padding-top: 4dvh;
        writing-mode: vertical-lr;
        translate: 2dvh;
    }
}

.intro__summary__note--transition {
    div {
        //height: 30dvh;
        translate: 0;
        transition-duration: 1000ms;
        transition-property: translate;
    }

    h3 {
        opacity: 1;
        transition-delay: 1200ms;
        transition-duration: 500ms;
        transition-property: opacity, translate;
        translate: 0;
    }

    p {
        opacity: 1;
        transition-delay: 1800ms;
        transition-duration: 500ms;
        transition-property: opacity, translate;
        translate: 0;
    }
}
