//=========================================================
//  First Section Classes
//=========================================================
@use "../homepage_styles/_homepage_section-1.scss";

//=========================================================
//  Section Separators
//=========================================================
@use "../homepage_styles/_homepage_separator.scss";

//=========================================================
//  Second Section Classes
//=========================================================
@use "../homepage_styles/_homepage_section-2.scss";

//=========================================================
//  Third Section Classes
//=========================================================
@use "../homepage_styles/_homepage_section-3.scss";

//=========================================================
//  Four Section Classes
//=========================================================
@use "../homepage_styles/_homepage_section-4.scss";

//=========================================================
//  Divider Classes
//=========================================================
$dividerBackgroundColor: #0C0E0F;

.divider--thin {
    background-color: $dividerBackgroundColor;
    height: 3px;
    margin-bottom: 50px;
    margin-inline: auto;
    margin-top: 50px;
    width: 80%;
}

@media (min-width: 900px) {
    .divider--thin {
        height: 0.3dvh;
        margin-bottom: 5dvh;
        margin-top: 5dvh;
        width: 80%;
    }
}
