//=========================================================
//  Variables
//=========================================================
//-------------------------
//  Heights                |
//-------------------------
$separatorHeight: 40px;
$separatorNotchHeight: 70px;
//-------------------------
//  Colors                 |
//-------------------------

//Breadcrumb Colors
$breadcrumbBGColor: #161B38;
$breadcrumbBorderColor: #0C0E0F;
//Content Colors
$contentBGColor: #161B38;
$contentBorderColor: #0C0E0F;
$contentFrameColor: #1B304F;

//Github Colors
$githubBGColor: #1B304F;
$githubBorderColor: #0C0E0F;
$githubUnderlineColor: white; //temp
$githubIconBGColor: white; //temp

//Intro Colors
$introInnerBorderColor: #0C0E0F;
$introHeaderTitleBG: #1B304F;
$introGreetingBGColor: #1B304F;

//Saved Colors
//181D1F
//1F1D1C
//161B38
//223138
//424B85
//424C85
//0C0E0F
//314185
//53852D

//Delay for intro animation
$introGreetingDivDelay: 1000ms;
$introGreetingDelay: $introGreetingDivDelay+700ms;
$introGreetingFrameDelay: $introGreetingDelay+1000ms;
$introGreetingAccentDelay: $introGreetingFrameDelay+1000ms;

$introGreetingDivDuration: 500ms;
$introGreetingAccentDuration: 1500ms;
$introGreetingAccentTimingFunction: linear;

$introContent_AnimDelay: $introGreetingFrameDelay;
$introContent_AnimDuration: 1000ms;

//=========================================================
//  Breadcrumb
//=========================================================
.breadcrumb {
    height: 20px;
    background-color: $breadcrumbBGColor;
    //width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: $breadcrumbBorderColor;
    border-width: 0;
    border-left-width: 5px;
    border-right-width: 5px;
    //margin-bottom: 10px;
    //border-top-left-radius: 10px;
    //border-top-right-radius: 10px;
}

//=========================================================
//  Intro
//=========================================================
.intro {
    height: 100%;
    margin: auto;
    position: relative;
    //width: 90%;
    font-size: 1.5em;
    background-color: $contentBorderColor;
    //padding: 5px;
    //padding-left: 30px;
    border-top: solid $contentBorderColor $separatorHeight;
    overflow: hidden;
    border-left: solid $contentBorderColor $separatorHeight;
    border-right: solid $contentBorderColor $separatorHeight;
}

//=========================================================
//  Header
//=========================================================
.intro__header {
    background-color: $contentBGColor;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    padding-left: 30px;
}

.intro__header__title {
    animation-name: intro__header__title-load-animation;
    animation-duration: 800ms;
    background-color: $introHeaderTitleBG;
    margin-top: 0px;
    padding: 15px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @keyframes intro__header__title-load-animation {
        from {
            translate: 0px -100px;
        }

        to {
            translate: 0px 0px;
        }
    }
}

//=========================================================
//  Github Link
//=========================================================
@mixin githubLink_Transition {
    background-color: $githubUnderlineColor;
    content: '';
    display: block;
    height: 3px;
    transition-duration: 300ms;
    transition-property: all;
}

.intro__header__github-link {
    align-self: center;
    background-color: $githubBGColor;
    box-shadow: $githubBorderColor 3px 3px, $githubBorderColor -3px -3px;
    height: 60px;
    margin-left: auto;
    rotate: 45deg;
    transition-duration: 250ms;
    transition-property: box-shadow;
    translate: 100px 10px;
    width: 300px;

    div {
        display: flex;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    h3 {
        align-self: center;
        font-size: 16px;
        height: fit-content;
        margin-right: auto;
        width: 60px;
        word-wrap: break-word;

        //Initial underline for Github link
        &::after {
            @include githubLink_Transition;
            width: 0px;
        }
    }

    img {
        scale: 0.75;
        background-color: $githubIconBGColor;
        border-radius: 50px;
        padding: 1px;
        transition-duration: 300ms;
        transition-property: scale;
    }

    &:hover {
        box-shadow: $githubBorderColor 6px 6px, $githubBorderColor -6px -6px;
        cursor: pointer;
        transition-duration: 300ms;
        transition-property: box-shadow;
        user-select: none;

        h3 {

            //End state underline for Github link
            &::after {
                @include githubLink_Transition;
                width: 55px;
            }
        }

        //Github Logo
        img {
            scale: 0.8;
            transition-duration: 300ms;
            transition-property: scale;
        }
    }
}

//=========================================================
//  Summary
//=========================================================
.intro__summary {
    background-color: $contentBGColor;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.intro__summary__greeting {
    display: flex;
    align-items: center;
    //overflow: hidden;
    //background-color: #000000;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;

    >div {
        //align-items: center;
        overflow: hidden;
        //width: 50%;
        //background-color: #2B3E4D;
        display: grid;
        grid-template-columns: auto auto;
        margin-left: auto;
        margin-right: auto;

        :not(:last-child) {
            height: 200px;
        }

        [class$="--frame"] {
            //border-color: #9CF757;
            //border-style: solid;
            //border-width: 10px;
            animation-delay: $introGreetingFrameDelay;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
            animation-name: frame-anim;
            background-color: $breadcrumbBorderColor;
            border-radius: 100px;
            height: 400px;
            margin: 20px;
            translate: 500px;
            width: 400px;
            z-index: 2;

            @keyframes frame-anim {
                from {
                    translate: 500px;
                }

                to {
                    translate: 0;
                }
            }
        }
    }
}

.intro__summary__greeting__heading {
    font-size: 4em;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-name: headingGreeting-ani;
    translate: 0 200px;

    @keyframes headingGreeting-ani {
        from {
            translate: 0 200px;
        }

        70% {
            translate: 0 -15px;
            text-shadow: 0px 10px 0px black;
        }

        to {
            //transform: scale(1);
            translate: 0 0px;
            text-shadow: 0px 0px 0px black;
        }
    }
}

.intro__summary__greeting--accent {
    animation-delay: $introGreetingAccentDelay;
    animation-duration: $introGreetingAccentDuration;
    animation-fill-mode: forwards;
    animation-name: accent-ani;
    background-color: #9CF757;
    height: 0;
    overflow: visible;
    translate: 330px 0px;
    width: 30px;

    @keyframes accent-ani {
        from {
            height: 0;
            translate: 330px 0px;
        }

        to {
            height: 300px;
            translate: 330px 200px;
        }
    }
}

//-------------------------
//  Greeting Animation     |
//-------------------------
@mixin greeting_Animation {
    animation-duration: $introGreetingDivDuration;
    animation-fill-mode: forwards;
    background-color: $introGreetingBGColor;
    overflow: hidden;
    padding-left: 20px;
}

.intro__summary__greeting--hello {
    @include greeting_Animation;
    animation-delay: $introGreetingDivDelay;
    animation-name: hello-div-ani;
    border-top-left-radius: 20px;
    translate: -500px;

    @keyframes hello-div-ani {
        from {
            translate: -500px;
        }

        to {
            translate: 0px;
        }
    }

    h2 {
        animation-delay: $introGreetingDelay;
    }
}

.intro__summary__greeting--im {
    @include greeting_Animation;
    animation-delay: $introGreetingDivDelay;
    animation-name: im-div-ani;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    translate: 0 -500px;
    width: 225px;

    @keyframes im-div-ani {
        from {
            translate: 0 -500px;
        }

        to {
            translate: 0px;
        }
    }

    h2 {
        animation-delay: $introGreetingDelay+200ms;
    }
}

.intro__summary__greeting--collin {
    //box-shadow: 0px 15px 0px black;
    @include greeting_Animation;
    animation-delay: $introGreetingDivDelay;
    animation-name: collin-div-ani;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -15px;
    padding-right: 20px;
    translate: 0 500px;

    @keyframes collin-div-ani {
        from {
            translate: 0 500px;
        }

        to {
            translate: 0px;
        }
    }

    h2 {
        animation-delay: $introGreetingDelay+400ms;
    }
}

.intro__summary__greeting--corner {
    animation-delay: 1500ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-name: corner-ani;
    background-color: #1B304F;
    display: block;
    height: 20px;
    opacity: 0;
    position: absolute;
    translate: 339px 200px;
    width: 20px;


    @keyframes corner-ani {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    div {
        background-color: #161B38;
        border-top-left-radius: 20px;
        //display: block;
        height: 20px;
        width: 20px;
    }
}

//-------------------------
//  Summary Content        |
//-------------------------
.intro__summary__content {
    //background-color: lightblue;
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 50px;
    width: fit-content;

    animation: {
        delay: $introContent_AnimDelay;
        duration: $introContent_AnimDuration;
        fill-mode: both;
        name: content-load-animation;
        timing-function: linear;
    }

    @keyframes content-load-animation {
        from {
            opacity: 0;
            translate: 0px 20px;
        }

        to {
            opacity: 1;
            translate: 0px 0px;
        }
    }

    h2 {
        //padding-left: 50px;
        //padding: 0;
        background-color: #9CF757;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        height: 400px;
        margin: 0;
        padding-left: 10px;
        padding-right: 20px;
        text-align: center;
        writing-mode: sideways-lr;

    }

    p {
        background-color: $contentFrameColor;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 1em;
        height: 400px;
        margin: 0;
        padding: 30px;
        width: 700px;
    }
}

.intro__summary__note {
    display: block;
    width: 300px;
    word-wrap: break-word;
    height: auto;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    //temp
    position: absolute;
    visibility: hidden;


    h3 {
        //justify-content: center;
        //align-self: center;

    }
}

.intro__summary__divider {
    //background-color: $accentColor2;
    //border-radius: 20px;
    //margin-left: auto;
    //margin-right: auto;
    //width: 5px;
}
