//=========================================================
//  First Section Classes
//=========================================================
@import "../homepage_styles/homepage_section-1.scss";

//=========================================================
//  Section Separators
//=========================================================
@import "../homepage_styles/homepage_separator.scss";

//=========================================================
//  Second Section Classes
//=========================================================
@import "../homepage_styles/homepage_section-2.scss";

//=========================================================
//  Divider Classes
//=========================================================
$dividerBackgroundColor: #0C0E0F;

.divider--thin {
    background-color: $dividerBackgroundColor;
    height: 0.3dvh;
    margin-bottom: 5dvh;
    margin-inline: auto;
    margin-top: 5dvh;
    width: 80%;
}

//=========================================================
//  Third Section Classes
//=========================================================
@import "../homepage_styles/homepage_section-3.scss";
