//=========================================================
//  Variables
//=========================================================
//-------------------------
//  Heights                |
//-------------------------
$separatorHeight: 4dvh;
$separatorNotchHeight: 70px;
//-------------------------
//  Colors                 |
//-------------------------

//Breadcrumb Colors
$breadcrumbBGColor: #161B38;
$breadcrumbBorderColor: #0C0E0F;
//Content Colors
$contentBGColor: #161B38;
$contentBorderColor: #0C0E0F;
$contentFrameColor: #1B304F;

//Github Colors
$githubBGColor: #1B304F;
$githubBorderColor: #0C0E0F;
$githubUnderlineColor: #9CF757;
$githubIconBGColor: white; //temp

//Intro Colors
$introInnerBorderColor: #0C0E0F;
$introHeaderTitleBG: #1B304F;
$introGreetingBGColor: #1B304F;

//Saved Colors
//181D1F
//1F1D1C
//161B38
//223138
//424B85
//424C85
//0C0E0F
//314185
//53852D

//Delay for intro animation
$introGreetingDivDelay: 1000ms;
$introGreetingDelay: $introGreetingDivDelay+700ms;
$introGreetingFrameDelay: $introGreetingDelay+1000ms;
$introGreetingAccentDelay: $introGreetingFrameDelay+1000ms;

$introGreetingDivDuration: 500ms;
$introGreetingAccentDuration: 1500ms;
$introGreetingAccentTimingFunction: linear;

$introContent_AnimDelay: $introGreetingFrameDelay;
$introContent_AnimDuration: 1000ms;
$introNote_AnimDelay:$introContent_AnimDelay+800ms;

//=========================================================
//  Intro
//=========================================================
.intro {
    //padding-left: 30px;
    //padding: 5px;
    //width: 90%;
    background-color: $contentBorderColor;
    border-left: solid $contentBorderColor $separatorHeight;
    border-right: solid $contentBorderColor $separatorHeight;
    border-top: solid $contentBorderColor $separatorHeight;
    font-size: 1.5em;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

//=========================================================
//  Header
//=========================================================
.intro__header {
    background-color: $contentBGColor;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    padding-left: 30px;
}

.intro__header__title {
    animation-name: intro__header__title-load-animation;
    animation-duration: 800ms;
    background-color: $introHeaderTitleBG;
    margin-top: 0px;
    padding: clamp(1dvh, 2dvh, 4dvh);
    border-bottom-left-radius: 1dvw;
    border-bottom-right-radius: 1dvw;
    font-size: clamp(3dvh, 5.5dvh, 10dvh);

    @keyframes intro__header__title-load-animation {
        from {
            translate: 0 -13dvh;
        }

        to {
            translate: 0 0dvh;
        }
    }
}

//=========================================================
//  Github Link
//=========================================================
@mixin githubLink_Transition {
    background-color: $githubUnderlineColor;
    content: '';
    display: block;
    height: 0.5vh;
    transition-duration: 300ms;
    transition-property: all;
}

.intro__header__github-link {
    align-self: center;
    background-color: $githubBGColor;
    box-shadow: $githubBorderColor 0.5vh 0.5vh, $githubBorderColor -0.5vh -0.5vh;
    height: clamp(4dvh, 7dvh, 10dvh);
    margin-left: auto;
    rotate: 45deg;
    transition-duration: 250ms;
    transition-property: box-shadow;
    translate: 10dvh 0.5dvh;
    width: clamp(10dvw, 16dvw, 20dvw);

    div {
        display: flex;
        height: 6dvh;
        margin-left: 3.5dvw;
        margin-right: 2dvh;
        margin-top: 0.5dvh;
        width: 10dvw;
    }

    h3 {
        align-self: center;
        font-size: clamp(1dvh, 2dvh, 5dvh);
        height: fit-content;
        margin-right: auto;
        margin-top: 0.5dvh;
        word-wrap: break-word;

        //Initial underline for Github link
        &::after {
            @include githubLink_Transition;
            width: 0;
        }
    }

    img {
        scale: 0.80;
        background-color: $githubIconBGColor;
        border-radius: 10dvh;
        padding: 0.5dvh;
        transition-duration: 300ms;
        transition-property: scale;
    }

    &:hover {
        box-shadow: $githubBorderColor 0.75vh 0.75vh, $githubBorderColor -0.75vh -0.75vh;
        cursor: pointer;
        transition-duration: 300ms;
        transition-property: box-shadow;
        user-select: none;

        h3 {

            //End state underline for Github link
            &::after {
                @include githubLink_Transition;
                width: 3.5dvw;
            }
        }

        //Github Logo
        img {
            scale: 0.9;
            transition-duration: 300ms;
            transition-property: scale;
        }
    }
}

//=========================================================
//  Summary
//=========================================================
.intro__summary {
    background-color: $contentBGColor;
    border-bottom-left-radius: 3dvh;
    border-bottom-right-radius: 3dvh;
}

.intro__summary__greeting {
    display: flex;
    align-items: center;
    //overflow: hidden;
    //background-color: #000000;
    padding-top: 4dvh;
    margin-right: auto;
    margin-left: auto;
    //width: 57dvw;
    width: 80%;

    >div {
        //align-items: center;
        overflow: hidden;
        //width: 50%;
        //background-color: #2B3E4D;
        display: grid;
        grid-template-columns: auto auto;
        margin-left: auto;
        margin-right: auto;

        //Selects everything other than the frame container
        :not(:last-child) {
            height: 20dvh;
            //width: 16dvw;
        }

        //Selects the im container
        :nth-child(2){
            width: 13dvw;
        }

        [class$="--frame"] {
            //border-color: #9CF757;
            //border-style: solid;
            //border-width: 10px;
            animation-delay: $introGreetingFrameDelay;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
            animation-name: frame-anim;
            background-color: $breadcrumbBorderColor;
            border-radius: 10dvh;
            height: 20dvw;
            margin: 2dvh;
            translate: 50dvw;
            width: 20dvw;
            z-index: 2;

            @keyframes frame-anim {
                from {
                    translate: 50dvw;
                }

                to {
                    translate: 0;
                }
            }
        }
    }
}

.intro__summary__greeting__heading {
    font-size: clamp(1dvh, 10dvh, 15dvh);
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-name: headingGreeting-ani;
    translate: 0 20dvh;

    @keyframes headingGreeting-ani {
        from {
            translate: 0 20dvh;
        }

        70% {
            translate: 0 -2dvh;
            text-shadow: 0 1dvh 0 black;
        }

        to {
            //transform: scale(1);
            translate: 0 0;
            text-shadow: 0 0 0 black;
        }
    }
}

.intro__summary__greeting--accent {
    animation-delay: $introGreetingAccentDelay;
    animation-duration: $introGreetingAccentDuration;
    animation-fill-mode: forwards;
    animation-name: accent-ani;
    background-color: #9CF757;
    height: 0;
    overflow: visible;
    //translate: 330px 0px;
    width: 2dvw;

    @keyframes accent-ani {
        from {
            height: 0;
            translate: 34dvh 0px;
        }

        to {
            height: 31dvh;
            translate: 34dvh 20dvh;
        }
    }
}

//-------------------------
//  Greeting Animation     |
//-------------------------
@mixin greeting_Animation {
    animation-duration: $introGreetingDivDuration;
    animation-fill-mode: forwards;
    background-color: $introGreetingBGColor;
    overflow: hidden;
    padding-left: 1dvw; 
}

.intro__summary__greeting--hello {
    @include greeting_Animation;
    animation-delay: $introGreetingDivDelay;
    animation-name: hello-div-ani;
    border-top-left-radius: 3dvh;
    translate: -50dvh;
    line-height: 8dvh;

    @keyframes hello-div-ani {
        from {
            translate: -50dvh;
        }

        to {
            translate: 0;
        }
    }

    h2 {
        animation-delay: $introGreetingDelay;
    }
}

.intro__summary__greeting--im {
    @include greeting_Animation;
    animation-delay: $introGreetingDivDelay;
    animation-name: im-div-ani;
    border-bottom-right-radius: 3dvh;
    border-top-right-radius: 3dvh;
    padding-bottom: 24dvh;
    translate: 0 -50dvh;
    line-height: 8dvh;
    //width: 225px;

    @keyframes im-div-ani {
        from {
            translate: 0 -50dvh;
        }

        to {
            translate: 0;
        }
    }

    h2 {
        animation-delay: $introGreetingDelay+200ms;
    }
}

.intro__summary__greeting--collin {
    //box-shadow: 0px 15px 0px black;
    @include greeting_Animation;
    animation-delay: $introGreetingDivDelay;
    animation-name: collin-div-ani;
    border-bottom-left-radius: 3dvh;
    border-bottom-right-radius: 3dvh;
    padding-right: 2dvh;
    line-height: 2dvh;
    translate: 0 50dvh;

    @keyframes collin-div-ani {
        from {
            translate: 0 50dvh;
        }

        to {
            translate: 0 -4dvh;
        }
    }

    h2 {
        animation-delay: $introGreetingDelay+400ms;
    }
}

.intro__summary__greeting--corner {
    animation-delay: 1500ms;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-name: corner-ani;
    background-color: #1B304F;
    display: block;
    height: 2dvh;
    opacity: 0;
    position: absolute;
    //translate: 339px 200px;
    translate: 35.1dvh 24dvh;
    width: 2dvh;


    @keyframes corner-ani {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    div {
        background-color: #161B38;
        border-top-left-radius: 3dvh;
        //display: block;
        height: 2dvh;
        width: 2dvh;
    }
}

//-------------------------
//  Summary Content        |
//-------------------------
.intro__summary__content {
    //background-color: lightblue;
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    //padding-bottom: 50px;
    width: fit-content;

    animation: {
        delay: $introContent_AnimDelay;
        duration: $introContent_AnimDuration;
        fill-mode: both;
        name: content-load-animation;
        timing-function: linear;
    }

    @keyframes content-load-animation {
        from {
            opacity: 0;
            translate: 0px 20px;
        }

        to {
            opacity: 1;
            translate: 0px 0px;
        }
    }

    h2 {
        background-color: #9CF757;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        height: 400px;
        margin: 0;
        padding-left: 10px;
        padding-right: 20px;
        text-align: center;
        writing-mode: sideways-lr;

    }

    p {
        background-color: $contentFrameColor;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        font-size: 1em;
        height: 400px;
        margin: 0;
        padding: 30px;
        width: 700px;
    }
}

//-------------------------
//  Note                   |
//-------------------------
.intro__summary__note {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 100px;
    text-align: center;
    width: 500px;
    word-wrap: break-word;

    div{
        animation-delay: $introNote_AnimDelay;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
        animation-name: noteFallback_Anim;
        background-color:#0C0E0F;
        display: flex;
        height: 0px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0;

        @keyframes noteFallback_Anim {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    //Note Title
    h3 {
        background-color: #000000;
        margin-right: 0;
        opacity: 0;
        padding: 10px;
        translate: 50px;
        writing-mode: sideways-rl;
    }

    //Note Content
    p {
        background-color: #000000;
        margin-right: auto;
        opacity: 0;
        padding: 10px;
        translate: 0px 10px;
        width: 300px;
        //padding-bottom: 30px;
        line-height: 35px;

        span{
            background-color: #161B38;
            //translate: 0 -100px;
            //padding-top: 30px;
        }
    }
}

.intro__summary__note--transition{
    div{
        height: 250px;
        transition-duration: 1000ms;
        transition-property: height;
    }

    h3{
        opacity: 1;
        transition-delay: 1200ms;
        transition-duration: 500ms;
        transition-property: all;
        translate: 0px;
    }

    p {
        opacity: 1;
        transition-delay: 1800ms;
        transition-duration: 500ms;
        transition-property: all;
        translate: 0px;
    }
}

.intro__summary__divider {
    //background-color: $accentColor2;
    //border-radius: 20px;
    //margin-left: auto;
    //margin-right: auto;
    //width: 5px;
}
