//=========================================================
//  Homepage- Separator
//=========================================================
//-------------------------
//  Variables              |
//-------------------------
//Heights/Widths
$separatorHeight: 4dvh;
$separatorNotchHeight: 10dvh;
//Colors
$backgroundColor: #2b3463;
$backgroundColor2: #181D1F;
$borderColor: #0c1020;

.separator__container {
    background-color: $backgroundColor;
    border-radius: 3dvh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: grid;
    grid-template: "a b c" 3.5dvh "d . e" 10dvh / 1fr 0fr 1fr;
    height: 4dvh;
    overflow: visible;
}

//-------------------------
//  Separators: Sides      |
//-------------------------
@mixin separatorSides {
    height: $separatorHeight;
    background-color: $borderColor;
    width: 100%;
}

.separator__container__side--1 {
    @include separatorSides;
    border-bottom-left-radius: 3dvh;
    border-top-right-radius: 3dvh;
}

.separator__container__side--2 {
    @include separatorSides;
    border-top-left-radius: 3dvh;
    border-bottom-right-radius: 3dvh;
}

//-------------------------
//  Separators: Separator  |
//-------------------------
.separator {
    background-color: $backgroundColor;
    height: 10dvh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4dvh;
    position: relative;
    overflow: hidden;
    width: 13dvh;
}

//-------------------------
//  Separators: Notches    |
//-------------------------
@mixin separatorNotch{
    background-color: $backgroundColor2;
    border-radius: 3dvh;
    height: $separatorNotchHeight;
    margin-top: 0.5dvh;
    width: 30dvh;
}

.separator__container__notch--1 {
    @include separatorNotch;
    margin-left: auto;
    margin-right: 4dvh;
}

.separator__container__notch--2 {
    @include separatorNotch;
    margin-left: 4dvh;
}

.separator__notch__spacer {
    background-color: $borderColor;
    height: $separatorNotchHeight;
    margin-left: auto;
    margin-right: auto;
    width: 60dvh;
}

//-------------------------
//  Separators: Footer     |
//-------------------------
@mixin separatorFooter{
    background-color: $borderColor;
    height: $separatorHeight;
    width: 143dvh;
}

.separator__footer {
    background-color: $backgroundColor;
    border-radius: 3dvh;
    display: flex;
    height: $separatorNotchHeight;
}

.separator__footer__divider {
    position: relative;
    width: 28dvh;
}

.separator__footer--1 {
    @include separatorFooter;
    border-top-left-radius: 3dvh;
    border-bottom-right-radius: 3dvh;
}

.separator__footer--2 {
    @include separatorFooter;
    border-bottom-left-radius: 3dvh;
    border-top-right-radius: 3dvh;
}
