//=========================================================
//  Homepage- Section 2
//=========================================================
//-------------------------
//  Variables              |
//-------------------------
$borderRadius: clamp(1dvw, 1em, 3dvw);
//Colors

$backgroundColor_2: #20274a;
$backgroundColor: #2b3463;
$borderColor: #0c1020;
$boxBackgroundColor: #20274a;
$flexCardDefaultColor: #0c1020;
$flexCardHoverColor: #80C24A;
$fontColor1: #e1e0e0;
$headingColor: #80C24A;

//=========================================================
//  Section 2 Classes
//=========================================================
.section-2 {
    background-color: $borderColor;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    padding: 4dvh;
    padding-top: 0;
    margin-top: -6dvh;
}

.section-2__container {
    background-color: $backgroundColor;
    //background-image: linear-gradient($backgroundColor 8%, $backgroundColor_2);
    border-radius: $borderRadius;
    padding-bottom: 10dvh;
    padding-top: 9dvh;
    height: auto;
    width: auto;

}

.section-2__container__intro {
    display: block;
    margin-inline: auto;
    background-color: $boxBackgroundColor;
    border-radius: 100em;
    border-style: solid;
    border-width: 5px;
    border-color: $borderColor;
    width: 80%;
    text-align: center;
    padding: 6dvh;
    //margin-bottom: 30px;

    h2 {
        font-size: clamp(3dvh, 2.2dvh + 1em, 5dvh);
    }

    p {
        font-size: clamp(2dvh, 1dvh + 0.75em, 2.75dvh);
    }
}

.section-2__container__box {
    //background-color: #075C61;
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    //opacity: 0;
    padding: 3dvh;
    width: 80%;
    padding-bottom: 3dvh;
    //padding-top: 3dvh;
    margin-top: 6dvh;

    >h2 {
        align-self: center;
        background-color: $borderColor;
        border-bottom-right-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
        //box-shadow: inset 2px 0px 3px black;
        font-size: clamp(2dvh, 2dvh + 0.75em, 3.75dvh);
        height: 32dvh;
        margin-right: 0;
        margin-left: 1dvh;
        padding: 2dvh;
        text-align: center;
        user-select: none;
        writing-mode: vertical-lr;
        rotate: 180deg;
    }
}

.section-2__container__box__paragraph {
    background-color: $boxBackgroundColor;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    //background-color: #1C0B3D;
    border-bottom-left-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
    height: 38dvh;
    border-color: $borderColor;
    border-style: solid;
    border-width: 10px;

    p {
        align-self: center;
        //background-color: #1C0B3D;
        border-bottom-left-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
        font-size: clamp(2dvh, 1dvh + 0.75em, 2.75dvh);
        padding: 5dvh;
        margin-top: auto;
        margin-bottom: auto;
        word-wrap: break-word;
    }
}

//-------------------------
//  Section 2: Card        |
//-------------------------
$section2Card_TransitionDelay: 0ms;

.section-2__container__box {
    a:focus {
        outline: auto;
        outline-offset: 3dvh;
    }
}

.section-2__container__box__card {
    align-self: center;
    background-color: $boxBackgroundColor;
    border-color: $borderColor;
    border-radius: $borderRadius;
    border-style: solid;
    border-width: 0.75dvh;
    box-shadow: $flexCardDefaultColor 0px 0px 0px 0px;
    height: fit-content;
    transition-duration: 300ms;
    translate: -3dvh;
    transition-property: translate,
        box-shadow;

    &:hover {
        box-shadow: $flexCardHoverColor 1dvh 1dvh 0px 0;
        cursor: pointer;
        transition-duration: 250ms;
        transition-property: translate,
            box-shadow;
        translate: -4dvh -1dvh;
        transition-delay: $section2Card_TransitionDelay;
        transition-timing-function: linear;

        h3 {
            //Gives link hover color
            color: #3F6321;
        }

        //Creates the hover state for the pseudo underline effect
        h3::after {
            background-color: #3F6321;
            content: '';
            display: block;
            height: 0.5dvh;
            transition-duration: 200ms;
            transition-property: width;
            transition-timing-function: ease-in-out;
            transition-delay: $section2Card_TransitionDelay;
            width: 100%;
        }

        span {
            div {
                animation-duration: 500ms;
                animation-fill-mode: both;
                animation-name: box__card__corner-out-anim;
                animation-delay: $section2Card_TransitionDelay;

                @keyframes box__card__corner-out-anim {
                    from {
                        box-shadow: inset $flexCardHoverColor 0px 0px 0px -1px;
                    }

                    to {
                        box-shadow: inset $flexCardHoverColor 0px 15dvh 0px -1px;
                    }
                }
            }
        }

        //Hover effect to darken img and show arrow icon
        .material-symbols-rounded {
            opacity: 1;
            transition-duration: 200ms;
            transition-property: all;
            transition-delay: $section2Card_TransitionDelay;
        }

        puzzle-comp,
        computer-comp,
        projects-comp {
            filter: grayscale(1);
            transition-duration: 200ms;
            transition-property: all;
            transition-delay: $section2Card_TransitionDelay;
        }
    }
}

.section-2__container__box__card--header {
    display: flex;
    flex-wrap: nowrap;

    span {
        display: inline-block;
        height: 8dvh;
        margin-left: auto;
        margin-right: 0;
        overflow: hidden;
        width: 11dvh;
        //background-color: aliceblue;

        div {
            animation-duration: 500ms;
            animation-name: flex-box--1x3__col__corner-in-anim;
            background-color: $flexCardDefaultColor;
            height: 13dvh;
            rotate: -45deg;
            translate: -2dvh -4dvh;
            width: 2.5dvh;
            margin-left: auto;

            @keyframes flex-box--1x3__col__corner-in-anim {
                from {
                    box-shadow: inset $flexCardHoverColor 0px -20dvh;
                }

                to {
                    box-shadow: inset $flexCardHoverColor 0px 0px -0.1dvh;
                }
            }
        }
    }

    h3 {
        color: $headingColor;
        width: fit-content;
        padding-left: 3dvh;
        padding-top: 1dvh;
        font-size: clamp(2.5dvh, 1dvh + 0.75em, 3dvh);
        //background-color: #0C0E0F;
        //margin-right: auto;

        &::after {
            background-color: $headingColor;
            content: '';
            display: block;
            height: 0.5dvh;
            transition-duration: 200ms;
            transition-property: width;
            transition-timing-function: ease-in-out;
            transition-delay: $section2Card_TransitionDelay;
            width: 0%;
        }
    }
}

.section-2__container__box__card--content {
    padding-bottom: 3dvh;
    padding-left: 3dvh;
    padding-right: 3dvh;

    h4 {
        margin-top: -2dvh;
        font-size: 1.8dvh;
    }

    p {
        font-size: 1.75dvh;
        text-align: center;

        span {
            font-size: 1.5dvh;
            translate: 0 0dvh;
        }
    }

    //Container for svg
    div {
        background-color: #212436;
        height: 20dvh;
        margin-left: auto;
        margin-right: auto;
        width: 20dvh;
        margin-bottom: 1dvh;
        margin-top: 3dvh;

        puzzle-comp,
        computer-comp,
        projects-comp {
            filter: grayscale(0);
        }

        //Material Icon span
        span {
            color: $fontColor1;
            display: block;
            font-size: 4dvh;
            height: 100%;
            opacity: 0;
            padding-top: 8dvh;
            text-align: center;
            translate: 0 -20.3dvh;
            transition-duration: 200ms;
            transition-property: all;
            transition-delay: $section2Card_TransitionDelay;
        }
    }
}
