//=========================================================
//  Variables
//=========================================================

//-------------------------
//  Colors                 |
//-------------------------

$fontColor1: #e1e0e0;
//Content Colors
$contentBGColor: #161B38;
$contentBorderColor: #0C0E0F;
$contentFrameColor: #1B304F;
//Flex Card Colors
$flexCardDefaultColor: #161B38;
$flexCardHoverColor: #6CAB3C;
//Heading Colors
$headingColor: #6CAB3C;

//=========================================================
//  Section 2 Classes
//=========================================================
.section-2 {
    background-color: $contentBorderColor;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 40px;
    padding-top: 0px;
    margin-top: -20px;
}

.section-2__container {
    background-color: $contentBGColor;
    border-radius: 20px;
    height: auto;
    width: auto;
}

.section-2__container__title {
    display: block;
    margin-left: 75px;
    padding-top: 20px;
}

.section-2__container__description {
    display: block;
    margin-left: 75px;
    width: 50%;
}

.section-2__container__box{
width: 70%;
background-color: #075C61;
//margin-left: auto;
//margin-right: 20px;
margin-left: auto;
margin-right: auto;
height: auto;
display: flex;
padding: 20px;

    >h2{
        padding: 20px;
        background-color: #161B38;
    }
    >p{
        padding: 20px;
        background-color: #1C0B3D;
    }
}

//-------------------------
//  Section 2: Card        |
//-------------------------
$section2Card_TransitionDelay: 50ms;

.section-2__container__box__card {
    background-color: $contentFrameColor;

    border: {
        color: $contentBorderColor;
        radius: 10px;
        style: solid;
        width: 3px;
    }

    box-shadow: $flexCardDefaultColor 0px 0px 0px -3px;
    //height: auto;
    //margin: auto;
    height: 400px;
    //margin-left: 20px;
    //margin-right: auto;
    //padding-left: 30px;
    translate: 0;
    transition-duration: 500ms;
    transition-property: translate,
    box-shadow;

    &:hover {
        box-shadow: $flexCardHoverColor 0px 20px 0px -3px;
        cursor: pointer;
        transition-duration: 500ms;
        transition-property: translate,
            box-shadow;
        translate: 0 -20px;
        transition-delay: $section2Card_TransitionDelay;

        h3::after {
            background-color: $headingColor;
            content: '';
            display: block;
            height: 3px;
            transition-duration: 200ms;
            transition-property: width;
            transition-timing-function: ease-in-out;
            transition-delay: $section2Card_TransitionDelay;
            width: 100%;
        }

        span {
            div {
                animation-duration: 500ms;
                animation-fill-mode: both;
                animation-name: flex-box--1x3__col__corner-out-anim;
                animation-delay: $section2Card_TransitionDelay;

                @keyframes flex-box--1x3__col__corner-out-anim {
                    from {
                        box-shadow: inset $flexCardHoverColor 0px 0px 0px -1px;
                    }

                    to {
                        box-shadow: inset $flexCardHoverColor 0px 100px 0px -1px;
                    }
                }
            }
        }

        //Hover effect to darken img and show arrow icon
        .material-symbols-rounded {
            opacity: 1;
            transition-duration: 200ms;
            transition-property: all;
            transition-delay: $section2Card_TransitionDelay;
        }
    }
}

.section-2__container__box__card--header {
    display: flex;
    flex-wrap: nowrap;

    span {
        display: inline-block;
        height: 50px;
        margin-left: auto;
        margin-right: 0;
        overflow: hidden;
        width: 60px;

        div {
            animation-duration: 500ms;
            animation-name: flex-box--1x3__col__corner-in-anim;
            background-color: $flexCardDefaultColor;
            height: 100px;
            rotate: -45deg;
            translate: 30px -40px;
            width: 20px;

            @keyframes flex-box--1x3__col__corner-in-anim {
                from {
                    box-shadow: inset $flexCardHoverColor 0px -100px;
                }

                to {
                    box-shadow: inset $flexCardHoverColor 0px 0px -1px;
                }
            }
        }
    }

    h3 {
        color: $headingColor;
        width: fit-content;
        padding-left: 30px;

        &::after {
            background-color: $headingColor;
            content: '';
            display: block;
            height: 3px;
            transition-duration: 200ms;
            transition-property: width;
            transition-timing-function: ease-in-out;
            transition-delay: $section2Card_TransitionDelay;
            width: 0%;
        }
    }
}

.section-2__container__box__card--content {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

    //Container for img
    div {
        background-color: #212436;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    //Material Icon span
    span {
        background-color: rgba(0, 0, 0, 0.5);
        color: $fontColor1;
        display: block;
        font-size: 40;
        height: 100%;
        opacity: 0;
        padding-top: 80px;
        position: relative;
        text-align: center;
        transition-duration: 200ms;
        transition-property: all;
        transition-delay: $section2Card_TransitionDelay;
    }
}
