//=========================================================
//  Variables
//=========================================================

//-------------------------
//  Colors                 |
//-------------------------

$fontColor1: #e1e0e0;
//Content Colors
$contentBGColor: #161B38;
$contentBorderColor: #0C0E0F;
$contentFrameColor: #1B304F;
//Flex Card Colors
$flexCardDefaultColor: #161B38;
$flexCardHoverColor: #6CAB3C;
//Heading Colors
$headingColor: #6CAB3C;

$containerBoxBGColor_1: #075C61;
$containerBoxBGColor_2: brown;

//=========================================================
//  Section 2 Classes
//=========================================================
.section-2 {
    background-color: $contentBorderColor;
    border-bottom-left-radius: 3dvh;
    border-bottom-right-radius: 3dvh;
    padding: 4dvh;
    padding-top: 0;
    margin-top: -6dvh;
}

.section-2__container {
    background-color: $contentBGColor;
    border-radius: 3dvh;
    padding-bottom: 10dvh;
    padding-top: 8dvh;
    height: auto;
    width: auto;
}

.section-2__container__intro {
    display: block;
    margin-inline: auto;
    background-color: brown;
    width: 80%;
    text-align: center;
    padding: 2dvh;

    h2 {
        font-size: clamp(3dvh, 2.2dvh + 1em, 5dvh);
    }

    p {
        font-size: clamp(2dvh, 1dvh + 0.75em, 2.75dvh);
    }
}

.section-2__container__box {
    //background-color: #075C61;
    background: linear-gradient($containerBoxBGColor_1 50%, $containerBoxBGColor_2 50%);
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    padding: 3dvh;
    width: 80%;
    padding-bottom: 3dvh;
    padding-top: 3dvh;

    >h2 {
        align-self: center;
        background-color: #161B38;
        border-bottom-right-radius: 3dvh;
        border-top-right-radius: 3dvh;
        box-shadow: inset 2px 0px 3px black;
        font-size: clamp(2dvh, 2dvh + 0.75em, 3.75dvh);
        height: 32dvh;
        margin-right: 0;
        margin-left: 1dvh;
        padding: 2dvh;
        text-align: center;
        user-select: none;
        writing-mode: vertical-lr;
        rotate: 180deg;
    }
}

.section-2__container__box__paragraph {
    background-color: #6CAB3C;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    //background-color: #1C0B3D;
    border-bottom-left-radius: 3dvh;
    border-top-left-radius: 3dvh;
    height: 38dvh;

    p {
        align-self: center;
        background-color: #1C0B3D;
        border-bottom-left-radius: 3dvh;
        border-top-left-radius: 3dvh;
        font-size: clamp(2dvh, 1dvh + 0.75em, 2.75dvh);
        //height: auto;
        //width: 60dvw;
        padding: 5dvh;
        //padding-top: 11dvh;
        //padding-bottom: 11dvh;
        //padding-top: clamp(11dvh, 11dvh + 1.2em, 15dvh);
        //padding-bottom: clamp(11dvh, 11dvh + 1.2em, 15dvh);
        //margin: 0;
        margin-top: auto;
        margin-bottom: auto;


        word-wrap: break-word;
    }
}



.section-2__container__box--transition {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: box--transition-Anim;
    opacity: 1;
    transition-duration: 300ms;
    transition-property: opacity;

    @keyframes box--transition-Anim {
        from {
            translate: 0 100px;
        }

        50% {
            translate: 0 -15px;
        }

        to {
            translate: 0;
        }
    }
}

//-------------------------
//  Section 2: Card        |
//-------------------------
$section2Card_TransitionDelay: 0ms;

.section-2__container__box__card {
    align-self: center;
    background-color: $contentFrameColor;
    border-color: $contentBorderColor;
    border-radius: 3dvh;
    border-style: solid;
    border-width: 0.75dvh;
    box-shadow: $flexCardDefaultColor 0px 0px 0px 0px;
    height: fit-content;
    transition-duration: 300ms;
    translate: -3dvh;
    transition-property: translate,
        box-shadow;

    &:hover {
        box-shadow: $flexCardHoverColor 1dvh 1dvh 0px 0;
        cursor: pointer;
        transition-duration: 300ms;
        transition-property: translate,
            box-shadow;
        translate: -4dvh -1dvh;
        transition-delay: $section2Card_TransitionDelay;

        h3{
            //Gives link hover color
            color: #9CF757;
        }

        //Creates the hover state for the pseudo underline effect
        h3::after {
            background-color: #9CF757;
            content: '';
            display: block;
            height: 0.5dvh;
            transition-duration: 200ms;
            transition-property: width;
            transition-timing-function: ease-in-out;
            transition-delay: $section2Card_TransitionDelay;
            width: 100%;
        }

        span {
            div {
                animation-duration: 500ms;
                animation-fill-mode: both;
                animation-name: box__card__corner-out-anim;
                animation-delay: $section2Card_TransitionDelay;

                @keyframes box__card__corner-out-anim {
                    from {
                        box-shadow: inset $flexCardHoverColor 0px 0px 0px -1px;
                    }

                    to {
                        box-shadow: inset $flexCardHoverColor 0px 15dvh 0px -1px;
                    }
                }
            }
        }

        //Hover effect to darken img and show arrow icon
        .material-symbols-rounded {
            opacity: 1;
            transition-duration: 200ms;
            transition-property: all;
            transition-delay: $section2Card_TransitionDelay;
        }
    }
}

.section-2__container__box__card--header {
    display: flex;
    flex-wrap: nowrap;

    span {
        display: inline-block;
        height: 8dvh;
        margin-left: auto;
        margin-right: 0;
        overflow: hidden;
        width: 11dvh;
        //background-color: aliceblue;

        div {
            animation-duration: 500ms;
            animation-name: flex-box--1x3__col__corner-in-anim;
            background-color: $flexCardDefaultColor;
            height: 13dvh;
            rotate: -45deg;
            translate: -2dvh -4dvh;
            width: 2.5dvh;
            margin-left: auto;

            @keyframes flex-box--1x3__col__corner-in-anim {
                from {
                    box-shadow: inset $flexCardHoverColor 0px -20dvh;
                }

                to {
                    box-shadow: inset $flexCardHoverColor 0px 0px -0.1dvh;
                }
            }
        }
    }

    h3 {
        color: $headingColor;
        width: fit-content;
        padding-left: 3dvh;
        padding-top: 1dvh;
        font-size: clamp(2.5dvh, 1dvh + 0.75em, 3dvh);
        //background-color: #0C0E0F;
        //margin-right: auto;

        &::after {
            background-color: $headingColor;
            content: '';
            display: block;
            height: 0.5dvh;
            transition-duration: 200ms;
            transition-property: width;
            transition-timing-function: ease-in-out;
            transition-delay: $section2Card_TransitionDelay;
            width: 0%;
        }
    }
}

.section-2__container__box__card--content {
    padding-bottom: 3dvh;
    padding-left: 3dvh;
    padding-right: 3dvh;

    h4 {
        margin-top: -2dvh;
        font-size: 1.8dvh;
    }

    p {
        font-size: 1.75dvh;
        text-align: center;

        span{
            font-size: 1.5dvh;
            translate: 0 0dvh;
        }
    }

    //Container for svg
    div {
        background-color: #212436;
        height: 20dvh;
        margin-left: auto;
        margin-right: auto;
        width: 20dvh;
        margin-bottom: 1dvh;
        margin-top: 3dvh;

        //Material Icon span
        span {
            background-color: rgba(0, 0, 0, 0.5);
            color: $fontColor1;
            display: block;
            font-size: 4dvh;
            height: 100%;
            opacity: 0;
            padding-top: 8dvh;
            position: relative;
            text-align: center;
            transition-duration: 200ms;
            transition-property: all;
            transition-delay: $section2Card_TransitionDelay;
        }
    }
}
