//=========================================================
//  Nav-Bar
//=========================================================
//-------------------------
//  Variables              |
//-------------------------
//Height/Width
$navHeight: max(100px, 10dvh);
$navMiniHeight: max(60px, 6dvh);

//Color
$dropMenuBGColor: #20274A;
$navBGColor: #20274A;
$navminiBGColor: rgba(22, 27, 56, 0.95);
$navBorderColor: #0C0E0F;
//Button Colors
$navBtnBGColorDefault: #1B304F;
$navBtnBGColorHover: #122036;
$navBtnShadow: #1C0B3D;

//Duration
$navminiDuration: 300ms;

//=========================================================
//  Nav-Bar
//=========================================================
nav {
    background-color: $navBGColor;
    box-shadow: inset 0 -0.5dvh 0 $navBorderColor; //Used to create a pseudo border
    height: $navHeight;
    position: relative;
    z-index: 101;
}

.nav-bar {
    align-items: center;
    display: flex;
    font-size: 1.2em;
    height: $navHeight;
}

[class$="nav-bar--mini"] {
    .nav-bar {
        background-color: $navminiBGColor;
        box-shadow: inset 0px -0.5dvh 0px $navBorderColor;
        height: $navMiniHeight;
        position: fixed;
        width: 100%;
    }

    .nav-bar__btn--hamburger {
        scale: 0.85;
        transition-duration: $navminiDuration;
        transition-property: all;
    }

    .nav-bar__link__menu__item {
        font-size: max(1.75dvh, 0.75em);
        transition-property: all;
        transition-duration: $navminiDuration;
    }

    .nav-bar__drop-down {
        top: $navMiniHeight;
    }
}

//=========================================================
//  Nav-Bar: Btn-Hamburger
//=========================================================
.nav-bar__btn {
    margin-left: 20%;
    margin-right: 5%;
}

.nav-bar__btn--hamburger {
    background-color: $navBtnBGColorDefault;
    border: 0;
    border-radius: 20%;
    box-shadow: inset 2px 0px 4px $insetShadow,
        inset -2px -4px 4px $insetShadow,
        $accentColor3 0px 2px 3px;
    transition-duration: 200ms;
    transition-property: background-color, box-shadow, scale;
    scale: 1;
    width: 4rem;

    &:hover {
        background-color: $navBtnBGColorHover;
        border-radius: 20%;
        cursor: pointer;
    }

    &:active {
        box-shadow:
            inset -1px -1px 4px $insetShadow,
            inset 1px 0px 4px $insetShadow,
            #1C0B3D 0px 1px 1px;
    }

    //Span used by Google Material Icon
    span {
        color: $linkColorDefault;
        font-size: 2rem;
        line-height: 1.5;
        transition-duration: 200ms;
        transition-property: translate;
        translate: 0px 0px;
        width: 100%;
        padding: 0;

        &:active {
            translate: 0px 2.5px;
        }
    }
}

//=========================================================
//  Nav-Bar: Divider
//=========================================================
.nav-bar__divider {
    //background-color: #0C0E0F;
    display: block;
    height: 50px;
    //margin-right: 3%;
    width: 10px;
}

//=========================================================
//  Nav-Bar: Links
//=========================================================
.nav-bar__link__menu {
    //align-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    user-select: none;
    white-space: nowrap; //Prevents last item from wrapping
    margin-right: auto;
    margin-left: auto;

    li {
        display: inline;
        list-style: none;
        padding-bottom: 10px;
        position: relative;

        &:not(:nth-child(3)){
            padding-right: min(5em, 5dvh);
        }

        a {
            //font-size: clamp(2dvh + 0.1em, 1em, 2.5dvh);
            font-size: max(2dvh, 0.75em);
            //padding-top: max(2dvh, 1em);

            //Add default focus functionality back
            &:focus{
                outline: auto;
                outline-offset: 10px;
            }
        }

        //Span used by Google Material Icons
        //Centers icons
        [class$="material-symbols-rounded"] {
            font-size: 1.5em;
            line-height: -10%;
            translate: 0 3px;
        }
    }
}

.accent--line{
    margin-left: auto;
    margin-right: 15%;

    svg{
        width: max(3em, 12dvh);
        height: max(3em, 3dvh);
    }

    #top{
        fill: red;
    }

    #middle{
        fill: black;
    }

    #bottom{
        fill: blue;
    }
}

//=========================================================
//  Nav-Bar: Dropdown Menu
//=========================================================
.nav-bar__drop-down {
    background: $dropMenuBGColor;
    bottom: 0px;
    height: auto;
    margin: auto;
    overflow-y: scroll;
    padding: min(2em, 3dvh);
    position: fixed;
    scrollbar-width: thin;
    top: $navHeight;
    transition-duration: 400ms;
    transition-property: opacity;
    user-select: none;
    width: 25%;
    z-index: 1;

    //Emulate the thin scrollbar from Firefox for Chrome
    &::-webkit-scrollbar {
        background: #16192f;
        height: 12px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #5f606e;
    }
}

//-----------------------------------------
//  Dropdown Menu: Expand/Collapse Toggle  |
//-----------------------------------------
.nav-bar__drop-down__header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5dvh;
    text-align: center;
}

.nav-bar__drop-down__header__toggle {
    align-self: center;
    font-size: clamp(0.8em, 2dvh, 5dvh);
    //margin-right: 200px;

    label {
        padding: 0.5dvh;
        padding-left: 1dvh;
        padding-right: 1dvh;
        padding-top: 0;

        &:hover {
            cursor: pointer;
        }
    }

    //Selects both the container and icon
    span {
        display: inline-flex;
        font-size: 0.8em;
    }

    //Selects only the span for the container and not icon
    &>span {
        background-color: $navBtnBGColorDefault;
        border-radius: 20dvh;
        box-shadow: $navBtnShadow 0 0.5dvh 0;
        color: $linkColorDefault;
        margin-right: 10px;
        margin-top: 10px;
        //padding: 0;
        translate: 0;
        transition-duration: 200ms;
        transition-property: background-color, box-shadow, translate;

        &:active {
            box-shadow: $navBtnShadow 0 0 0;
            translate: 0 0.5dvh;
        }

        &:hover {
            background-color: $navBtnBGColorHover;
        }
    }

    [class$="material-symbols-rounded"] {
        background-color: transparent;
        font-size: 1.3em;
        translate: 0 0.4dvh;
    }
}

//---------------------------
//  Dropdown Menu: Btn Exit  |
//---------------------------
.nav-bar__drop-down__btn--exit {
    background-color: $navBtnBGColorDefault;
    border-radius: 1dvh;
    border: 0;
    box-shadow: $navBtnShadow 0 0.5dvh 0;
    display: block;
    line-height: 0%;
    margin-left: auto;
    padding: 0;
    transition-duration: 200ms;
    transition-property: background-color, box-shadow, translate;

    &:active {
        box-shadow: $navBtnShadow 0 0 0;
        translate: 0 0.25dvh;
    }

    &:hover {
        background-color: $navBtnBGColorHover;
        cursor: pointer;
    }

    //Material Icon
    span {
        color: $linkColorDefault;
        font-size: clamp(3em, 5dvh, 10dvh);
    }
}

//-------------------------
//  Dropdown Menu: Sub     |
//-------------------------
.nav-bar__drop-down__sub {
    display: block;
    padding-bottom: 2dvh;
    position: relative;
}

//Span that holds the subsection title and Material Icons
.nav-bar__drop-down__sub__span {

    //Section Title
    label {
        border: 0;
        //border-bottom-left-radius: 0;
        border-bottom-width: 0.1dvh;
        border-color: $linkColorDefault;
        border-style: solid;
        color: $linkColorDefault;
        font-size: clamp(1em, 2dvh, 4dvh);
        transition-duration: 300ms;
        transition-property: border, color;

        &:hover {
            //border-bottom-left-radius: 0;
            border-bottom-width: 0.4dvh;
            border-color: $linkColorHover;
            border-style: solid;
            color: $linkColorHover;
            cursor: pointer;
            transition-duration: 100ms;
            transition-property: border, color;

            //Arrow Class
            &~span {
                //Duration also effects the rotate transition for arrow toggle classes
                color: $linkColorHover;
                transition-duration: 100ms;
                transition-property: border, color, rotate;
            }
        }
    }

    //Material Icon
    span {
        color: $linkColorDefault;
        translate: -0.5dvh 0.9dvh; //Centers icon
        font-size: clamp(1em, 3dvh, 4dvh);
    }
}

.nav-bar__drop-down__sub__content {
    margin-bottom: auto;

    //Section page name
    ol {
        list-style: none;

        //Page sections
        li {
            padding-bottom: 1dvh;
            font-size: clamp(1em, 1dvh + 1.2em, 2dvh);
        }
    }
}

//-------------------------
//  Dropdown Menu: Footer  |
//-------------------------
.nav-bar__drop-down__footer {

    //About Section Link
    a {
        display: inline-flex;
        font-size: clamp(1dvh, 0.8em, 2dvh);
        margin-right: clamp(30%, 40% + 1.2em, 80%);
        align-items: center;

        //Move the Site Map Link Over
        &:last-child {
            margin-right: 0;
            margin-left: auto;
            //flex-wrap: nowrap;
        }

        //Material Icon
        span {
            font-size: 1.5em;
            padding-right: 0.05em;
            //translate: 0 -3px; //Moves down Material Icon
        }
    }

    //Empty div to shift the footer down and retain dynamic resizing 
    div {
        height: 100px;
        width: 100%;
    }

    >span {
        //Creates the divider from subsections to footer
        background-color: $dropdownColorBG;
        box-shadow: 0px 0.2dvh 0px 0px #1C0B3D;
        // box-shadow:
        //     inset 0px 0.2px 2px 0px $insetShadow,
        //     inset -0px -2px 2px 0px $insetShadow,
        //     black 0px 0px 1px;
        display: inline-block;
        height: max(0.2em, 0.6dvh);
        margin-bottom: 1dvh;
        width: 100%;
    }
}

//=========================================================
//  Nav-Bar: Events
//=========================================================
//-------------------------
//  Events: Hidden/Visible |
//-------------------------

@mixin hiddenVisible_Transition {
    transition: {
        duration: 300ms;
        property: right;
        timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.--hidden {
    @include hiddenVisible_Transition;
    right: 100%;
}

.--visible {
    @include hiddenVisible_Transition;
    right: 75%;
}

//---------------------------
//  Events: Main Window      |
//---------------------------
$darkenDuration: 400ms;

@mixin darkenEvent {
    background-color: #000000;
    content: '';
    display: block;
    height: 100%;
    position: fixed;
    transition-duration: $darkenDuration;
    transition-property: opacity;
    scale: 2; //Used to extend beneath and beyond nav-bar
    width: 100%;
    z-index: 100;
}

.--undarken {

    &::before {
        @include darkenEvent;
        animation-delay: $darkenDuration;
        animation-duration: $darkenDuration;
        animation-fill-mode: forwards;
        animation-name: main-overlay-ani;
        opacity: 0;
        transition-timing-function: ease-out;

        @keyframes main-overlay-ani {
            from {
                height: 100%;
            }

            to {
                height: 0;
            }
        }
    }
}

.--darken {

    &::before {
        @include darkenEvent;
        opacity: 0.6;
        transition-timing-function: ease;
    }
}

.--scroll {
    overflow: visible;
}

.--scroll-block {
    overflow: hidden;
}

//--------------------------
//  Events: Expand/Collapse |
//--------------------------
@mixin expandCollapse_Transition {
    transition: {
        duration: 150ms;
        property: all;
        timing-function: ease-in;
    }
}

[class$="--sub-collapse"] {
    @include expandCollapse_Transition;
    height: 10px;
    overflow: hidden;
    width: 0%;
}

[class$="--sub-expand"] {
    //Keep in mind that the height here controls the sub content height
    @include expandCollapse_Transition;
    height: max(14dvh, 8em);
    overflow: hidden;
    width: 100%;
}

//------------------------------
//  Events: Arrow Expand        |
//------------------------------
@mixin arrow_Transition {
    transition: {
        duration: 100ms;
        property: all;
    }
}

//Duration for both is under the span/label transition
[class$="--expand-more"] {
    @include arrow_Transition;
    rotate: (0deg);

}

[class$="--expand-less"] {
    @include arrow_Transition;
    rotate: (180deg);
}

//=========================================================
//  Nav-Bar: Media Queries
//=========================================================
//-------------------------
//  Media Queries: Big     |
//-------------------------
@mixin mediaQuery_btnHam($height, $scale) {
    @media screen and (height > $height) {
        scale: $scale;
    }
}

.nav-bar__btn--hamburger {
    @include mediaQuery_btnHam(1000px, 1.2);
    @include mediaQuery_btnHam(1200px, 1.4);
    @include mediaQuery_btnHam(1400px, 1.6);
    @include mediaQuery_btnHam(1500px, 1.8);
    @include mediaQuery_btnHam(1600px, 2);
    @include mediaQuery_btnHam(1800px, 2.2);
    @include mediaQuery_btnHam(2000px, 2.4);
}

//-------------------------
//  Media Queries: Small   |
//-------------------------
@media screen and (height < 550px),
(width < 1000px) {
    main {
        overflow: hidden;
    }

    .nav-bar__btn--hamburger {
        scale: 0.8;
    }

    .nav-bar__link__menu {
        //display: grid;
        //grid-template-columns: auto auto auto;
        column-gap: -10px;
        margin-left: -50px;

        li {
            padding: 0;

            &:last-child{
                padding-bottom: 10px;
            }
            
        }
    }

    .nav-bar__link__menu__item {
        visibility: collapse;

        span {
            visibility: visible;
        }
    }
}

.accent{
    display: block;
    //background-color: #5f606e;
    width: 100%;
    //height: 100px;
    margin-top: 50px;
}

.accent-1{
    background-color: #0C0E0F;
    width: 100%;
    height: 10px;
}
.accent-2{
    background-color: rgb(22, 21, 21);
    width: 50%;
    height: 10px;
}
.accent-3{
    background-color: rgb(40, 39, 39);
    width: 25%;
    height: 10px;
}
