<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="../nav-bar/_nav-bar_style.scss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
    <script src="../src/scripts/index.ts" defer></script>
</head>

<body class="--scroll">
    <div class="global-container">

        <nav class="nav-bar--default">
            <div class="nav-bar" role="menubar">

                <!--Hamburger button used to activate the drop-down-->
                <div class="nav-bar__btn" role="menuitem">
                    <button class="nav-bar__btn--hamburger" type="button">
                        <span class="material-symbols-rounded">
                            menu
                        </span>
                    </button>
                </div>

                <!--Theme switch from dark to light-->
                <div role="group">
                    <label class="nav-bar__theme-switch" role="menuitem">
                        <input class="theme-switch__input" type="checkbox" role="switch">
                        <span class="theme-switch__slider"></span>
                    </label>
                </div>

                <span role="presentation" class="nav-bar__divider"></span>

                <!--Main links for site-->
                <div class="nav-bar__link" role="group">
                    <menu class="nav-bar__link__menu">
                        <li role="group">
                            <a role="menuitem" class="nav-bar__link__item--home" href="../src/index.html">
                                <span class="material-symbols-rounded">
                                    home
                                </span>
                                Home
                            </a>
                        </li>
                        <li role="group">
                            <a role="menuitem" class="nav-bar__link__item--contact" href="../src/index.html">
                                <span class="material-symbols-rounded">
                                    link
                                </span>
                                Contact
                            </a>
                        </li>
                        <li role="group">
                            <a role="menuitem" class="nav-bar__link__item--resume" href="../src/index.html">
                                <span class="material-symbols-rounded">
                                    description
                                </span>
                                Resume
                            </a>
                        </li>
                    </menu>
                </div>

                <span role="presentation" class="nav-bar__divider"></span>

                <!--Drop-down to represent site map-->
                <div role="menu" class="nav-bar__drop-down --hidden">

                    <div class="nav-bar__drop-down__header">
                        <span class="nav-bar__drop-down__header__toggle">
                            <span class="nav-bar__drop-down__header__toggle--expand --active">
                                <label>
                                    Expand
                                    <span class="material-symbols-rounded">
                                        expand
                                    </span>
                                </label>

                            </span>
                            <span class="nav-bar__drop-down__header__toggle--collapse --nonactive">
                                <label>
                                    Collapse
                                    <span class="material-symbols-rounded">
                                        compress
                                    </span>
                                </label>

                            </span>
                        </span>

                        <!--Drop-down Exit Button-->
                        <button class="nav-bar__drop-down__btn--exit" type="button">
                            <!--Material Design by Google for Exit Symbol-->
                            <span class="material-symbols-rounded">
                                close
                            </span>
                        </button>
                    </div>

                    <!--Drop-down Group-->
                    <div role="group">
                        <!--Drop-down Sub-1-->
                        <div class="nav-bar__drop-down__sub" role="group">

                            <span class="nav-bar__drop-down__sub__span">
                                <label class="--toggle-display">Homepage Quick Links</label>
                                <span class="material-symbols-rounded --0--expand-more">
                                    expand_more
                                </span>
                            </span>

                            <div class="nav-bar__drop-down__sub__content --0--sub-collapse" role="group">
                                <ol role="menu">
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            Home
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            Education
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            Skills
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            Projects
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!--Drop-down Sub-2-->
                        <div class="nav-bar__drop-down__sub" role="group">

                            <span class="nav-bar__drop-down__sub__span">
                                <label class="--toggle-display">Projects</label>
                                <span class="material-symbols-rounded --1--expand-more">
                                    expand_more
                                </span>
                            </span>

                            <div class="nav-bar__drop-down__sub__content --1--sub-collapse" role="group">
                                <ol role="menu">
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            Project Main Page
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            this.website :)
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            CSS Snippets
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            Angular Website (Planned)
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!--Drop-down Sub-3-->
                        <div class="nav-bar__drop-down__sub" role="group">

                            <span class="nav-bar__drop-down__sub__span">
                                <label class="--toggle-display">About Me</label>
                                <span class="material-symbols-rounded --2--expand-more">
                                    expand_more
                                </span>
                            </span>

                            <div class="nav-bar__drop-down__sub__content --2--sub-collapse" role="group">
                                <ol role="menu">
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            More In-Depth Intro
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            Goals
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" href="index.html">
                                            Interests
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="nav-bar__drop-down__footer">
                            <!--Div used to create spacing between sub sections and footer-->
                            <div role="presentation"></div>
                            <span role="presentation"></span>
                            <a href="about.html">
                                <span class="material-symbols-rounded">
                                    info
                                </span> About / Licenses</a>
                            <a href="site-map.html">
                                <span class="material-symbols-rounded">
                                    help
                                </span> Site Map</a>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

        <main class="main --undarken">
            
        </main>
    </div>
</body>

</html>
